<% content_for(:title) do %>
    Sign Up
<% end %>

<br/>

<h2>Register for an Account</h2>

<p>The site is under active development. If you do not like change, you should sign up for an <%= link_to "invitation", new_user_invitation_path %> to the major release versions.</p>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>


<%= render :partial => "devise/shared/links" %>
