<h2 id="sidebar_about_1"><a>Privly Resources</a></h2>
<div>
    <ul class="posts">
        <li><%= link_to "About", pages_about_path %></li>
        <li><%= link_to "FAQ", pages_faq_path %></li>
        <li>
            <%= link_to "Download Extension", pages_download_path %>
        </li>
        <li><%= link_to "Donate", pages_donate_path %></li>
        <li><%= link_to "Tester Email List", "https://groups.google.com/forum/?fromgroups#!forum/privly-test" %></li>
    </ul>
</div>

<h2 id="sidebar_about_2"><a>Privly Development</a></h2>
<div>
    <ul class="posts">
        <li><%= link_to "Development Site", pages_join_path %></li>
        <li><%= link_to "License", pages_privacy_path %></li>
        <li><%= link_to "Submit a Bug", pages_bug_path %></li>
        <li><%= link_to "Development Email List", pages_email_path %></li>
        <li><%= link_to "Wiki", "https://github.com/privly/privly-organization/wiki" %></li>
        <li><%= link_to "IRC", pages_irc_path %></li>
    </ul>
</div>
