<h2 id="in_the_news"><a>Privly Gets Press Attention</a></h2>
<div>
  <p>
    <%= link_to image_tag("NewsSites/atlantic_logo.gif", :width=>230), "http://www.theatlantic.com/technology/archive/12/04/a-privacy-manifesto-in-code-what-if-your-emails-never-went-to-gmail-and-twitter-couldnt-see-your-tweets/255414/" %>
    <br/>
    <br/>
    <%= link_to image_tag("NewsSites/Spiegel_Online_logo.png", :width=>230), "http://www.spiegel.de/netzwelt/web/0,1518,825950,00.html" %>
    <br/>
    <br/>
    <%= link_to image_tag("NewsSites/wired_logo.gif", :width=>230), "http://www.wired.co.uk/magazine/archive/2012/09/ideas-bank/how-not-to-be-a-product-on-facebook" %>
    <br/>
    <br/>
    <%= link_to image_tag("NewsSites/Mashable_Logo_230px.png", :width=>230), "http://mashable.com/2012/04/04/privly/" %>
    <br/>
    <br/>
    <%= link_to image_tag("NewsSites/technabob_240_90_logo_black.gif", :width=>230), "http://technabob.com/blog/2012/03/25/privly-content-proetection/" %>
    <br/>
    <br/>
    <%= link_to image_tag("NewsSites/omnitechnews.jpg", :width=>230), "http://www.omnitechnews.net/2012/03/29/privly/" %>
    <br/>
    <br/>
    <%= link_to image_tag("NewsSites/TweakTown.png", :width=>230), "http://www.tweaktown.com/news/23408/priv_ly_wants_to_give_privacy_back_to_users_acts_as_invisible_web_link/index.html" %>
    <br/>
    <br/>
    <%= link_to image_tag("NewsSites/GMMNewHeader.png", :width=>230), "http://www.givememind.com/priv-ly-protect-your-content-anywhere-on-the-web/" %>
    <br/>
    <br/>
    <%= link_to image_tag("NewsSites/DigitalTrends.png", :width=>230), "http://www.digitaltrends.com/web/for-your-eyes-only-privly-acts-like-invisible-ink-for-the-web/" %>
    <br/>
    <br/>
    <%= link_to image_tag("NewsSites/FutureZone.png", :width=>230), "http://futurezone.at/produkte/8392-priv-ly-verschluesselung-fuer-soziale-netzwerke.php" %>
    <br/>
    <br/>
    <%= link_to image_tag("NewsSites/ExtendedLimits.png", :width=>230), "http://www.extendlimits.nl/nieuws/artikel/priv.ly_kan_onze_privacy_terugbrengen/" %>
    <br/>
    <br/>
    <%= link_to image_tag("NewsSites/osu-tag.gif"), "http://eecs.oregonstate.edu/people/meet-our-students/privly" %>
    <br/>
    <br/>
    <%= link_to image_tag("NewsSites/yc500.gif", :width=>230), "http://news.ycombinator.com/item?id=3799542" %>
    <br/>
    <br/>
    <%= link_to image_tag("NewsSites/techli.jpg", :width=>230), "http://tech.li/2012/04/encryption-extension-privly/" %>
    <br/>
    <br/>
    <%= link_to "Barrapunto (Spanish)", "http://barrapunto.com/articles/12/04/06/0852236.shtml" %>
    <br/>
    <br/>
    <%= link_to "Hacker10", "http://www.hacker10.com/computer-security/share-encrypted-messages-on-social-networks-with-privly/" %>
    <br/>
    <br/>
    <%= link_to "TheBlaze", "http://www.theblaze.com/stories/dont-want-facebook-to-read-your-messages-meet-the-start-up-making-communications-100-percent-private/" %>
    <br/>
    <br/>
    <%= link_to "Tech the Future", "http://www.techthefuture.com/technology/game-changing-browser-extension-anonymizes-your-web-activity/" %>
    <br/>
    <br/>
    <%= link_to "Social Media Club (German)", " http://www.socialmediaclub.at/2012/04/alternative-fur-datenschutz.html" %>
    <br/>
    <br/>
  </p>
</div>