<p>Hello <%= @user.email %>,</p>

<p>Thanks for signing up for an invitation on <%= link_to "Priv.ly", "https://priv.ly" %>!</p>

<p>We are still in the testing and development phase of the project, but you can test it out by <% link_to "installing", pages_download_path %> the extension and pasting this link: https://priv.ly/posts/74 to a site you choose. Please let us know if you experience any bugs.</p> 

<p>There is one week left in our <%= link_to "Kickstarter Campaign", "http://kck.st/FQnKcu" %>, so please consider making a pledge.</p>

<p>
Check us out on <%= link_to 'Twitter', "https://twitter.com/#!/Privly" %>, and remember to tell your friends how Privly lets you:     
</p>

<ul>
    <li>Maintain control of your content wherever you post it</li>
    <li>Delete emails after you send them (no more send regret)</li>
    <li>Share content across social networks, email, blogs, and forums using the same privacy settings</li>
    <li>Prevent governments from shutting down free speech</li>
    <li>Prevent companies from selling and scanning your most private communications</li>
    <li>Have easy use of modern encryption technologies</li>
</ul>

<p>
    Share Priv(ate).ly,
    <br />
    -The Privly Team
</p>

<p>
PS: Are you a developer, tester, graphic designer, crypo-expert, or all-round awesome individual? <%= link_to "Join Us!", pages_join_url %>
</p>


