<p>Hello <%= @user.email %>,</p>

<p>Thanks for signing up for an invitation on <%= link_to "Priv.ly", "https://priv.ly" %>!</p>

<p>18 hours remain in our <%= link_to "Kickstarter Campaign", "http://kck.st/FQnKcu" %>! We are still in the testing and development phase of the project, but donors will get early access to Privly once it is ready to protect your personal content, so check it out before it is too late.</p>

<p>Are you a developer, tester, graphic designer, crypto-expert, legal expert, or all-round awesome individual? <%= link_to "Join our open source effort!", pages_join_url %></p>

<p>You can test Privly out by <%= link_to "installing", pages_download_url %> the extension and pasting this link: https://priv.ly/posts/74 to a site you choose. If you already have the extension installed you'll need to grab the link from the <%= link_to "download", pages_download_url %> page. Please let us know if you experience any bugs.</p> 

<p>
Check us out on <%= link_to 'Twitter', "https://twitter.com/#!/Privly" %>, and remember to tell your friends how Privly will let you:     
</p>

<ul>
    <li>Maintain control of your content wherever you post it</li>
    <li>Delete emails after you send them (no more send regret)</li>
    <li>Prevent companies from selling and scanning your most private communications</li>
    <li>Share content across social networks, email, blogs, and forums using the same privacy settings</li>
    <li>Prevent governments from shutting down free speech</li>
    <li>Have easy use of modern encryption technologies</li>
</ul>

<p>
    Share Priv(ate)ly,
    <br />
    -The Privly Team
</p>
