<div id="topbanner">
  <div class="container">
    <h1 id="sitename"><a href="/"><%= Privly::Application.config.name %></a><span>Share Priv(ate).ly</span></h1>
      <div id="mainnav">
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to destroy_user_session_path, :method => :delete do %>
                Logout
                <span>auth</span>
                <% end %>
            </li>
            <li <% if controller.action_name == "account" %>class="active"<% end %>>
                <%= link_to pages_account_path do %>
                    Account <span>info</span>
                <% end %>
            </li>
            <li><a href="/apps/ZeroBin/new.html">
              New ZeroBin
              <span>Link Encrypted</span>
              </a>
            </li>
            <li><a href="/apps/PlainPost/new.html">
              New PlainPost
              <span>Unencrypted</span>
              </a>
            </li>
            <li><a href="/apps/Index/new.html">
              Index
              <span>View Posts</span>
              </a>
            </li>
          <% else %>
            <% if controller.controller_name == "sessions" or controller.controller_name == "invitations" %>
              <li class="active"><%= link_to new_user_invitation_path do %>
                  Get Invited
                  <span>sign up</span>
                <% end %>
              </li>
            <% else %>
              <li><%= link_to new_user_invitation_path do %>
                Get Invited
                <span>sign up</span>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <div class="clear"></div>
  </div>
</div>