<div id="topbanner">
    <div class="container">
        <h1 id="sitename"><a href="/">Dev.Privly.org </a><span>Share Priv(ate).ly</span></h1>
        <div id="mainnav">
            <ul>
                
                <% if controller.controller_name == "sessions" %>
                    <% if user_signed_in? %>
                        <% if request.headers["auth_token"] %>
                            <li><%= link_to destroy_user_session_path, :method => :delete, :confirm => "The extension is still signed in, are you sure you want to logout of the website?" do %>
                                Logout
                                <span>auth</span>
                                <% end %>
                            </li>
                        <% else%>
                            <li><%= link_to destroy_user_session_path, :method => :delete do %>
                                Logout
                                <span>auth</span>
                                <% end %>
                            </li>
                        <% end %>
                    <% else %>
                    <li class="active"><%= link_to new_user_invitation_path do %>
                        Get Invited
                        <span>sign up</span>
                        <% end %>
                    </li>
                    <% end %>
                <% else %>
                    <% if user_signed_in? %>                    
                        <% if request.headers["auth_token"] %>
                            <li><%= link_to destroy_user_session_path, :method => :delete, :confirm => "The extension is still signed in, are you sure you want to logout of the website?" do %>
                                Logout
                                <span>auth</span>
                                <% end %>
                            </li>
                        <% else%>
                            <li><%= link_to destroy_user_session_path, :method => :delete do %>
                                Logout
                                <span>auth</span>
                                <% end %>
                            </li>
                        <% end %>
                    <% else %>
                    <li><%= link_to new_user_invitation_path do %>
                        Get Invited
                        <span>sign up</span>
                        <% end %>
                    </li>
                    <% end %>
                <% end %>
                
                <% if user_signed_in? %>
                    <li <% if controller.action_name == "account" %>class="active"<% end %>>
                        <%= link_to pages_account_path do %>
                            Account <span>info</span>
                        <% end %>
                    </li>
                <% else %>
                    <li <% if controller.controller_name == "pages" %>class="active"<% end %>>
                        <%= link_to pages_about_path do %>
                            About <span>more info</span>
                        <% end %>
                    </li>
                <% end %>
                
                <% if user_signed_in? %>
                    <% if controller.controller_name == "posts" %>
                        <li class="active"><a href="/posts">Posts <span>list</span></a></li>
                    <% else %>
                        <li><a href="/posts">Posts <span>list</span></a></li>
                    <% end %>
                <% end %>
                
                <% if extension_available? and not has_extension? %>
                    <li <% if controller.action_name == "pages" %>class="active"<% end %>>
                        <%= link_to pages_download_path do %>
                            Download Extension <span>for Browsers</span>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>