<!--
These page items are explicitly included by hash values set in the controller
For example, when @sidebar[:post] evaluates to true, the post sidebar will be
included.
-->
<% if @sidebar %>

<script type="text/javascript">
    $(function() {
        //creates the jquery UI based sidebar
        if($( "#sidebar_accordion" ).length !== 0)
        {
            $( "#sidebar_accordion" ).accordion({autoHeight: false,
                collapsible: true});
        }
        //fill the starting values if it is defined
        if($("#urlOptionsForm").length !== 0)
        {
            fillFormStartingValues();
            updateURL();
        }
        //Expand the news accorion on page load
        if( $("#in_the_news").length !== 0 )
        {
          $("#in_the_news").trigger('click');
        }
    });
</script>

<div id="sidebar">
  <div id="sidebar_accordion">
    
    <%# Show the context menus for a particular post %>
    <% if @sidebar[:post] %>
      <%= render "shared/sidebar/post" %>
    <% end %><%# @sidebar[:post] %>
        
    <% if @sidebar[:link_options] %>
      <%= render "shared/sidebar/link_options" %>
    <% end %><%# @sidebar[:link_options] %>
        
    <%# Create new content menus %>
    <% if @sidebar[:posts] %>
      <%= render "shared/sidebar/posts" %>
    <% end %><%# @sidebar[:posts] %>
        
    <%# Markdown format cheat sheet %>
    <% if @sidebar[:markdown] %>
      <%= render "shared/sidebar/markdown" %>
    <% end %><%# @sidebar[:markdown] %>
        
    <%# About the Site Menu %>
    <% if @sidebar[:about] or @sidebar[:contribute] %>
      <%= render "shared/sidebar/about" %>
    <% end %><%# @sidebar[:about] %>
        
    <%# Show site news %>
    <% if @sidebar[:news] %>
      <%= render "shared/sidebar/news" %>
    <% end %><%# @sidebar[:news] %>
        
    <%# List of Privly Articles %>
    <% if @sidebar[:in_the_news] %>
      <%= render "shared/sidebar/in_the_news" %>
    <% end %><%# @sidebar[:in_the_news] %>
        
    <%# Site Navigation, only use if not using the main layout %>
    <% if @sidebar[:navigation] %>
      <%= render "shared/sidebar/navigation" %>
    <% end %><%# @sidebar[:about] %>
        
  </div><!-- End of Accordion -->
</div>
<% end %>