<!--
These page items are explicitly included by hash values set in the controller
For example, when @sidebar[:post] evaluates to true, the post sidebar will be
included.
-->
<script type="text/javascript">
    $(function() {
        //creates the jquery UI based sidebar
        if($( "#sidebar_accordion" ).length !== 0)
        {
            $( "#sidebar_accordion" ).accordion({autoHeight: false,
                collapsible: true});
        }
        //pop up the download box if it is defined
        if($("#urlOptionsForm").length !== 0)
        {
            fillFormStartingValues();
            updateURL();
        }
    });
</script>

<% if @sidebar %>
<div id="sidebar">
    <div id="sidebar_accordion">
        
        <%# Show the context menus for a particular post %>
        <% if @sidebar[:post] %>
        <h2><a href="#">Post Info</a></h2>
        <div>
            <ul class="posts">
                <% if can? :destroy, @post %>
                    <% if @post.burn_after_date %>
                        <% if @post.burn_after_date > Time.now %>
                            <li>
                                <a>
                                    Destroyed in 
                                    <%= time_ago_in_words(
                                        @post.burn_after_date) %>
                                </a>
                            </li>
                        <% else %>
                            <li><a>This post is about to be destroyed</a></li>
                        <% end %>
                    <% else %>
                        <li><a>No Destroy Date Set</a></li>
                    <% end %>
                <% end %>
                <% if user_signed_in? %>
                    <% if current_user == @post.user %>
                        <li><a>You Own This</a></li>
                        <li>
                            <a class="date">
                                Posted 
                                <%= time_ago_in_words(@post.created_at) %> ago.
                            </a>
                        </li>
                    <% else %>
                        <li><a>An Anonymous User Owns This</a></li>
                    <% end %>
                <% else %>
                    <li>
                        <%= link_to "log in for ownership information",
                            new_user_session_url %>
                    </li>
                <% end %>
            </ul>
        </div>
        
        <%# Build link options for embedding elsewhere %>
        <h2><a href="#">Link Options</a></h2>
        <div id="urlOptionsForm">
            <ul class="posts">
                <%= form_tag nil, :id => "linkFormatterForm" do %>
                    <li>
                        Burn Message
                        <%= text_field_tag(:privlyBurnMessage, nil,
                            {:onkeyup=>"updateURL();", :use_in_url=>"true"}) %>
                    </li>
                    <li>
                        Passive Message
                        <%= text_field_tag(:privlyPassiveMessage, nil,
                            {:onkeyup=>"updateURL();", :use_in_url=>"true"}) %>
                    </li>
                    <li>
                        Force Passive?
                        <%= check_box_tag(:privlyForcePassive, "true", false,
                            {:onclick=>"updateURL();", :use_in_url=>"true"}) %>
                    </li>
                    <li>
                        Exclude from Replacement?
                        <%= check_box_tag(:privlyExclude, "true", false,
                            {:onclick=>"updateURL();", :use_in_url=>"true"}) %>
                    </li>
                    <%= hidden_field_tag(:privlyInject1, "true", 
                      {:use_in_url=>"true"}) %>
                <% end %>
            </ul>
        </div>
        <% end %><%# @sidebar[:post] %>
        
        <%# Create new content menus %>
        <% if @sidebar[:posts] %>
        <h2><a href="#">Write Posts</a></h2>
        <div>
            <ul class="posts">
                <% if user_signed_in? %>
                    <li><%= link_to 'New Private Post', new_post_path %></li>
                <% end %>
                <li><%= link_to 'New Public Post', 
                    new_post_path("post[public]"=>true) %></li>
            </ul>
        </div>
        <% end %><%# @sidebar[:posts] %>
        
        <%# Markdown format cheat sheet %>
        <% if @sidebar[:markdown] %>
        <h2>
            <a id="sidebar_markdown" href="#sidebar_markdown">
                Markdown Tips
            </a>
        </h2>
        <div>
            <ul class="posts">
                <li><em>*Emphasis*</em></li>
                <li><strong>**Strong**</strong></li>
                <li>[link text here](link.address.here "link title here")</li>
                <li>Line Break: a line ending in two spaces.</li>
                <li>1. An ordered list</li>
                <li>* An unordered list</li>
                <li>`<code>code</code>`</li>
                <li><h1># heading</h1></li>
                <li><h2>## subheading</h2></li>
                <li><h3>### sub-subheading</h3></li>
                <li><h3>### sub-subheading</h3></li>
                <li>
                    <%= link_to "More on Markdown", 
                        "http://en.wikipedia.org/wiki/Markdown",
                        {:target => "_blank"} %>
                </li>
            </ul>
        </div>
        <% end %><%# @sidebar[:markdown] %>
        
        <%# About the Site Menu %>
        <% if @sidebar[:about] or @sidebar[:contribute] %>
        <h2><a id="sidebar_about_1" href="#sidebar_about_1">Privly Resources</a></h2>
        <div>
            <ul class="posts">
                <li><%= link_to "About", pages_about_path %></li>
                <li><%= link_to "FAQ", pages_faq_path %></li>
                <li>
                    <%= link_to "Download Extension", pages_download_path %>
                </li>
                <li><%= link_to "Donate", pages_donate_path %></li>
                <li><%= link_to "Email List", pages_email_path %></li>
            </ul>
        </div>
        
        <h2><a id="sidebar_about_2" href="#sidebar_about_2">Privly Development</a></h2>
        <div>
            <ul class="posts">
                <li><%= link_to "Development Site", pages_join_path %></li>
                <li><%= link_to "License", pages_privacy_path %></li>
                <li><%= link_to "Submit a Bug", pages_bug_path %></li>
                <li><%= link_to "Email List", pages_email_path %></li>
                <li><%= link_to "IRC", pages_irc_path %></li>
            </ul>
        </div>
        
        <% end %><%# @sidebar[:about] %>
        
        <%# Show site news %>
        <% if @sidebar[:news] %>
        <h2><a id="sidebar_news" href="#sidebar_news">Site News</a></h2>
        <div>
            <ul class="menu">
                <li><%= link_to "Privly Twitter", 
                    "http://twitter.com/#!/Privly" %></li>
            </ul>
        </div>
        <% end %><%# @sidebar[:news] %>
        
        <%# List of Privly Articles %>
        <% if @sidebar[:in_the_news] %>
        <h2><a href="#">Privly Gets Press Attention</a></h2>
        <div>
          <p>
            <%= link_to image_tag("http://www.theatlantic.com/static/front/images/atlantic-logo.gif", :width=>230), "http://www.theatlantic.com/technology/archive/12/04/a-privacy-manifesto-in-code-what-if-your-emails-never-went-to-gmail-and-twitter-couldnt-see-your-tweets/255414/" %>
            <br/>
            <br/>
            <%= link_to image_tag("NewsSites/Spiegel_Online_logo.png", :width=>230), "http://www.spiegel.de/netzwelt/web/0,1518,825950,00.html" %>
            <br/>
            <br/>
            <%= link_to image_tag("NewsSites/technabob_240_90_logo_black.gif", :width=>230), "http://technabob.com/blog/2012/03/25/privly-content-proetection/" %>
            <br/>
            <br/>
            <%= link_to image_tag("NewsSites/omnitechnews.jpg", :width=>230), "http://www.omnitechnews.net/2012/03/29/privly/" %>
            <br/>
            <br/>
            <%= link_to image_tag("NewsSites/TweakTown.png", :width=>230), "http://www.tweaktown.com/news/23408/priv_ly_wants_to_give_privacy_back_to_users_acts_as_invisible_web_link/index.html" %>
            <br/>
            <br/>
            <%= link_to image_tag("NewsSites/GMMNewHeader.png", :width=>230), "http://www.givememind.com/priv-ly-protect-your-content-anywhere-on-the-web/" %>
            <br/>
            <br/>
            <%= link_to image_tag("NewsSites/DigitalTrends.png", :width=>230), "http://www.digitaltrends.com/web/for-your-eyes-only-privly-acts-like-invisible-ink-for-the-web/" %>
            <br/>
            <br/>
            <%= link_to image_tag("NewsSites/FutureZone.png", :width=>230), "http://futurezone.at/produkte/8392-priv-ly-verschluesselung-fuer-soziale-netzwerke.php" %>
            <br/>
            <br/>
            <%= link_to image_tag("NewsSites/ExtendedLimits.png", :width=>230), "http://www.extendlimits.nl/nieuws/artikel/priv.ly_kan_onze_privacy_terugbrengen/" %>
            <br/>
            <br/>
            <%= link_to image_tag("NewsSites/osu-tag.gif"), "http://eecs.oregonstate.edu/people/meet-our-students/privly" %>
            <br/>
            <br/>
            <%= link_to image_tag("NewsSites/Mashable_Logo_230px.png", :width=>230), "http://mashable.com/2012/04/04/privly/" %>
            <br/>
            <br/>
            <%= link_to image_tag("NewsSites/yc500.gif", :width=>230), "http://news.ycombinator.com/item?id=3799542" %>
            <br/>
            <br/>
            <%= link_to image_tag("NewsSites/techli.jpg", :width=>230), "http://tech.li/2012/04/encryption-extension-privly/" %>
            <br/>
            <br/>
            <%= link_to "Barrapunto (Spanish)", "http://barrapunto.com/articles/12/04/06/0852236.shtml" %>
            <br/>
            <br/>
            <%= link_to "Hacker10", "http://www.hacker10.com/computer-security/share-encrypted-messages-on-social-networks-with-privly/" %>
            <br/>
            <br/>
            <%= link_to "TheBlaze", "http://www.theblaze.com/stories/dont-want-facebook-to-read-your-messages-meet-the-start-up-making-communications-100-percent-private/" %>
            <br/>
            <br/>
            <%= link_to "Tech the Future", "http://www.techthefuture.com/technology/game-changing-browser-extension-anonymizes-your-web-activity/" %>
            <br/>
            <br/>
            <%= link_to "Social Media Club (German)", " http://www.socialmediaclub.at/2012/04/alternative-fur-datenschutz.html" %>
            <br/>
            <br/>
          </p>
        </div>
        <% end %><%# @sidebar[:in_the_news] %>
    </div><!-- End of Accordion -->
</div>
<% end %>