<% content_for(:title) do %>
    Welcome
<% end %>

<% content_for(:extrajs) do %>
<script type="text/javascript">

var current_video = 1;

$(document).ready(function() {
  $("#page").css("border-right","0px");
});
function newInvite()
{
    $("#invite_visual").slideUp("slow");
    $("#invite_form").slideDown("slow");
}

function nextVideo()
{
    $("#video_"+current_video).slideUp("slow");
    current_video++;
    if(current_video == 5)
    {
        current_video = 1;
    }
    $("#video_"+current_video).slideDown("slow");
}
</script>
<% end %>

<% content_for :top_column do %>
<div id="homeheader">
    <div id="mainimg">
        <div id="video_1">
            <iframe src="http://player.vimeo.com/video/35618924?title=0&amp;byline=0&amp;portrait=0" width="700" height="330" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
        <div id="video_2" style="display:none;background:none">
            <iframe src="http://player.vimeo.com/video/35618470?title=0&amp;byline=0&amp;portrait=0" width="700" height="330" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
        <div id="video_3" style="display:none;background:none">
            <iframe src="http://player.vimeo.com/video/34696986?title=0&amp;byline=0&amp;portrait=0" width="700" height="330" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
        <div id="video_4" style="display:none;background:none">
            <iframe src="http://player.vimeo.com/video/35603648?title=0&amp;byline=0&amp;portrait=0" width="700" height="330" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
    </div>
    <div id="rightboxes">
        <div class="box1">
            <p class="rotate">
                <%= link_to("#", :onclick=>"nextVideo();") do %>
                  <span id="next_video_message">View Next Video</span>
                <% end %>
            </p>
        </div>
        <div class="box2">
            <p class="rotate">
                <% if extension_available? and not has_extension? %>
                    <%= link_to(pages_download_path(:anchor => "extension")) do %>
                      <span>Download Extension</span>
                    <% end %>
                <% else %>
                    <%= link_to pages_about_path do %>
                      <span>Learn More About Privly</span>
                    <% end %>
                <% end %>
            </p>
        </div>
        <div class="box3" id="invite_visual">
            <p class="rotate">
                <a href="#" onclick="newInvite();">
                  <span>Sign-up for Invitation</span>
                </a>
            </p>
        </div>
        <div class="box3" id="invite_form" style="display:none;background:none">
            <%= form_for(@invitation) do |f| %>
                      <h2>Invitation</h2>
                      <%= f.email_field :email, :value=>"Email" %>
                      <br />
                      <%= f.check_box :news %>
                      <%= f.label "Also send major site news" %>
                      <%= f.submit "submit" %>
            <% end %>
		</div>
	</div>
	<div class="clear"></div>
</div>
<% end %>

<% content_for :top_main_content_column do %>
	<div id="threecol">
		<div class="col1">
			<h2><%= link_to "About", pages_about_path %></h2>
			<p>Privly is a proof-of-concept for a new standard of private sharing. It is the only way to maintain control of your data on the social web. <%= link_to "Learn More.", pages_about_path %></p>
		</div>
		
		<div class="col2">
			<h2><%= link_to "Roadmap", pages_roadmap_path %></h2>
			<p>Privly is the core of a novel sharing and privacy feature set. For more information, read our <%= link_to "Roadmap", pages_roadmap_path %> or <%= link_to "About Page.", pages_about_path %></p>
		</div>

		<div class="col3">
			<h2><%= link_to "Donate", pages_donate_path %></h2>
			<p>We are operating on a 512 MB server, please help us upgrade! We accept <%= link_to "donations", pages_donate_path %> by Bitcoin, PayPal, and anything else you want us to set up.</p>
		</div>

		<div class="clear"></div>
	</div>
<% end %>