<% content_for(:title) do %>
    Welcome
<% end %>

<% content_for(:extrajs) do %>
<script type="text/javascript">
$(document).ready(function() {
  $("#page").css("border-right","0px");
});
function newInvite()
{
    $("#invite_visual").slideUp("slow");
    $("#invite_form").slideDown("slow");
}
</script>
<% end %>

<% content_for :top_column do %>
<div id="homeheader">
	<div id="mainimg">
	    <h1>Project Status</h1>
		<p>We are in alpha: 0.1.1.1</p>
		<p>TODO: Insert Video or animated GIF</p>
	</div>
	<div id="rightboxes">
		<div class="box1">
			<p class="rotate">
			    <%= link_to(pages_download_path(:anchor => "extension")) do %>
                  <span>Download Extension</span>
                <% end %>
			</p>
		</div>
        <div class="box2" id="invite_visual">
            <p class="rotate">
                <a href="#" onclick="newInvite();">
                  <span>Sign-up for Invitation</span>
                </a>
            </p>
        </div>
		<div class="box3">
			<p class="rotate">
			    <%= link_to(pages_donate_path) do %>
                  <span>Make a Donation</span>
                <% end %>
			</p>
		</div>
        <div class="box2" id="invite_form" style="display:none;background:none">
            <%= form_for(@invitation) do |f| %>
                      <h2>Invitation</h2>
                      <%= f.email_field :email, :value=>"Email" %>
                      <br />
                      <%= f.check_box :news %>
                      <%= f.label "Also send major site news" %>
                      <%= f.submit "submit" %>
            <% end %>
		</div>
	</div>
	<div class="clear"></div>
</div>
<% end %>

<% content_for :top_main_content_column do %>
	<div id="threecol">
		<div class="col1">
			<h2><%= link_to "Share Anywhere", pages_about_path %></h2>
			<p>We will allow you to share data across platforms without giving the platform access to your communications. <%= link_to "See How", pages_about_path %></p>
		</div>
		
		<div class="col2">
			<h2><%= link_to "Can't Be Evil", pages_about_path %></h2>
			<p>We don't want your trust. We want to make trust unnecessary. You can can control your own digital identity. <%= link_to "See How", pages_about_path %></p>
		</div>

		<div class="col3">
			<h2><%= link_to "Seize Privacy", pages_about_path %></h2>
			<p>Web companies say privacy is dead, but you can use webmail, blogs, and social networks without handing over your personal information. <%= link_to "See How", pages_about_path %></p>
		</div>

		<div class="clear"></div>
	</div>
<% end %>