<% content_for(:title) do %>
    Welcome
<% end %>

<% content_for(:extrajs) do %>
  <script type="text/javascript">
    jQuery(document).ready(function(){
        $("#page").css("border-right","none") ;
    });
  </script>
<% end %>

<% content_for :top_column do %>
<div id="homeheader">
    <div id="mainimg">
        <div style="position:relative;">
            <iframe width="100%" scrolling="no" height="330px" frameborder="0" vspace="0" hspace="0" marginwidth="0" marginheight="0" style="width: 100%; height: 330px; overflow: hidden;" overflow="hidden" src="/zero_bin/"></iframe>
        </div>
    </div>

    <div class="clear"></div>
</div>
<% end %>

<% content_for :top_main_content_column do %>
    <div id="threecol">
        <div class="col1">
            <div id="about_text">
                <h2><%= link_to "Development Home", "http://www.privly.org" %></h2>
                <p>Go to the site where we are building the documentation and organization behind Privly.</p>
            </div>
        </div>
        
        <div class="col2">
            <div id="roadmap_text">
                <h2><%= link_to "Join Testing", "http://groups.google.com/group/privly-test" %></h2>
                <p>Privly should work with any site on the web, but we need your help to tell us where there are problems. Sign up for the testing <%= link_to "mailing list", "groups.google.com/group/privly-test" %>.</p>
            </div>
        </div>

        <div class="col3">
            <div id="donate_text">
                <h2><%= link_to "About", pages_about_path %></h2>
                <p>Privly is a developing technology for posting content to websites without giving those sites your content. <%= link_to "Learn more", pages_about_path %></p>
            </div>
        </div>
        
        <div class="clear"></div>
    </div>
<% end %>