<% content_for(:title) do %>
  About
<% end %>

<% content_for(:extrajs) do %>
  <script>
    $(document).ready(function() {        
      $(".subhead").css("cssText","margin: 0 0 0px -10px !important");
      $( "#tabs" ).tabs();
      $( "#how_it_works_accordion" )
        .accordion({autoHeight: false, collapsible: true, active: false});
      setTimeout( function() {
        $( "#sidebar_accordion" ).accordion( "option", "collapsible", false );
      }, 50);
    });
  </script>
<% end %>

<h2 class="subhead"><span>About</span></h2>

<div>
  <div id="tabs">
    <ul>
      <li><a href="#tabs-1" onclick="$('#sidebar_accordion').accordion('activate', '#in_the_news');">What is Privly?</a></li>
      <li><a href="#tabs-2" onclick="$('#sidebar_accordion').accordion('activate', '#sidebar_about_1');">How Does It Work?</a></li>
      <li><a href="#tabs-3" onclick="$('#sidebar_accordion').accordion('activate', '#sidebar_about_2');">Organization</a></li>
      <li><a href="#tabs-4" onclick="$('#sidebar_accordion').accordion('activate', '#sidebar_about_2');">Open Source</a></li>
    </ul>
    
    <div id="tabs-1">
      <p>Your content should remain your content. However, services like Facebook, Google, Twitter and the like, don’t seem to agree. Every time you accept their Terms of Service agreements, you give them the right to do whatever they wish with your data. More often than not, that involves selling your privacy.</p>
      <br />
      <p>Privly makes it impossible for others to control your data. By installing the <%= link_to "Privly browser extension", pages_download_path %>, you are able to keep your content, well, your content. For those who don’t have the extension installed, they see a simple link that sends them to your post, photo, video, etc. For those who do have the <%= link_to "extension", pages_download_path %> installed, they are able to see your post on the page as it was intended. That’s because the extension pulls the data from the other side of the link into your Facebook page, Twitter feed, etc, seamlessly, without supplying that data to data miners. Meaning your content stays, <i>your</i> content.</p>
      <br />
      <%= image_tag "protestor.png", :title => "Privly Protestor" %>
      <br />
      <br />
      <p><b>Privly Does:</b></p>
      <ul>
        <li>Give you the ability to share/post/tweet/chat anywhere without giving the host site access to the content</li>
        <li>Give you the power to grant or revoke access to your content to anyone or anywhere</li>
        <li>Give the content creator ownership of their data</li>
      </ul>
      <br />
      <p><b>Official Privly Hosts Do NOT:</b></p>
      <ul>
        <li>Use or sell your data</li>
        <li>Give your data to third party companies</li>
        <li>Own your content, you do</li>
      </ul>
      <br />
      <p>Privly has proven itself as a concept. You can use it right now with Facebook, Gmail, Google+, Twitter, Reddit, and just about anywhere else. As we refine the <%= link_to "extensions", pages_download_path %> and develop versions for other browsers, we hope you will check back. Sign up for an <%= link_to "invitation", new_user_invitation_path %>, <%= link_to "donate", pages_donate_path %>, or get a developer account and <%= link_to "start building", pages_join_path %>!</p>
    </div>
    
    <div id="tabs-2">
      <p>Privly gives you more than <b>privacy</b>, it gives you <b>security</b>. Shifting your data and trust from an organization that sells your data to one that in the long run, can’t even protect it, doesn’t help. Eventually, a hacker, rogue employee, government, or even someone close to you will expose everything you wrote in an email, said in a chat, or posted in a message. <b>No one can be trusted to protect your data forever</b>, so how can you use the internet for personal communication? The answer to the privacy problem is <b>encryption</b>.</p>
      <br />
      <p>Most users do not host their own web server, so Privly will enable people to trust <b>any storage provider</b> by taking away their ability to read your content. The Privly extensions will <b>encrypt your data</b> <em>before</em> you send it to a server for storage. Encrypting your data means the server only sees a scrambled version of your content. This way, you can store your data anywhere without losing your privacy.</p>
      <br />
      <p>Privly is built as an "Open Privacy Stack," meaning it is not tied to a particular way of doing things. Special "Privly Applications" will develop to meet your communication needs, and seamlessly interface with your favorite web communities. You don't have to sacrifice functionality to gain your privacy.</p>
      <br />
      <p>Privly has proven itself as a concept. You can use it right now with Facebook, Gmail, Google+, Twitter, Reddit, and just about anywhere else. As we refine the <%= link_to "extensions", pages_download_path %> and develop versions for other browsers, we hope you will check back. Sign up for an <%= link_to "invitation", new_user_invitation_path %>, <%= link_to "donate", pages_donate_path %>, or get a developer account and <%= link_to "start building", pages_join_path %>!</p>
      <br/>
      <div class="accordionhead">
        <div id="how_it_works_accordion">
          <h2><a id="accordion_posting" href="#accordion_posting">Posting Privly Content</a></h2>
          <div>
            <div style="text-align: center;font-size: 150%;">
              <div id="posting_1">
                <%= link_to_function "Next Step", "$('#posting_1').slideToggle();$('#posting_2').slideToggle();" %>
                <br/>
                <%= image_tag "HowItWorks/Posting/1.jpg", :title => "How Privly Works: Posting Content Priv(ate)ly" %>
              </div>
              <div id="posting_2" style="display:none;background:none;">
                <%= link_to_function "Previous Step", "$('#posting_2').slideToggle();$('#posting_1').slideToggle();" %>
                &middot;
                <%= link_to_function "Next Step", "$('#posting_2').slideToggle();$('#posting_3').slideToggle();" %>
                <br/>
                <%= image_tag "HowItWorks/Posting/2.jpg", :title => "How Privly Works: Posting Content Priv(ate)ly" %>
              </div>

              <div id="posting_3" style="display:none;background:none;">
                <%= link_to_function "Previous Step", "$('#posting_3').slideToggle();$('#posting_2').slideToggle();" %>
                &middot;
                <%= link_to_function "Next Step", "$('#posting_3').slideToggle();$('#posting_4').slideToggle();" %>
                <br/>
                <%= image_tag "HowItWorks/Posting/3.jpg", :title => "How Privly Works: Posting Content Priv(ate)ly" %>
              </div>

              <div id="posting_4" style="display:none;background:none;">
                <%= link_to_function "Previous Step", "$('#posting_4').slideToggle();$('#posting_3').slideToggle();" %>
                &middot;
                <%= link_to_function "Next Step", "$('#posting_4').slideToggle();$('#posting_5').slideToggle();" %>
                <br/>
                <%= image_tag "HowItWorks/Posting/4.jpg", :title => "How Privly Works: Posting Content Priv(ate)ly" %>
              </div>

              <div id="posting_5" style="display:none;background:none;">
                <%= link_to_function "Previous Step", "$('#posting_5').slideToggle();$('#posting_4').slideToggle();" %>
                &middot;
                <%= link_to_function "Next Step", "$('#posting_5').slideToggle();$('#posting_6').slideToggle();" %>
                <br/>
                <%= image_tag "HowItWorks/Posting/5.jpg", :title => "How Privly Works: Posting Content Priv(ate)ly" %>
              </div>

              <div id="posting_6" style="display:none;background:none;">
                <%= link_to_function "Previous Step", "$('#posting_6').slideToggle();$('#posting_5').slideToggle();" %>
                &middot;
                <%= link_to_function "Next Step", "$('#posting_6').slideToggle();$('#posting_7').slideToggle();" %>
                <br/>
                <%= image_tag "HowItWorks/Posting/6.jpg", :title => "How Privly Works: Posting Content Priv(ate)ly" %>
              </div>

              <div id="posting_7" style="display:none;background:none;">
                <%= link_to_function "Previous Step", "$('#posting_7').slideToggle();$('#posting_6').slideToggle();" %>
                <br/>
                <%= image_tag "HowItWorks/Posting/7.jpg", :title => "How Privly Works: Posting Content Priv(ate)ly" %>
              </div>
            </div>
          </div>
          
          <h2><a id="accordion_viewing" href="#accordion_viewing">Viewing Privly Content</a></h2>
          <div>
            <div style="text-align: center;font-size: 150%;">
              <div id="viewing_1">
                <%= link_to_function "Next Step", "$('#viewing_1').slideToggle();$('#viewing_2').slideToggle();" %>
                <br/>
                <%= image_tag "HowItWorks/Viewing/1.jpg", :title => "How Privly Works: Viewing Content Priv(ate)ly" %>
              </div>

              <div id="viewing_2" style="display:none;background:none;">
                <%= link_to_function "Previous Step", "$('#viewing_2').slideToggle();$('#viewing_1').slideToggle();" %>
                &middot;
                <%= link_to_function "Next Step", "$('#viewing_2').slideToggle();$('#viewing_3').slideToggle();" %>
                <br/>
                <%= image_tag "HowItWorks/Viewing/2.jpg", :title => "How Privly Works: Viewing Content Priv(ate)ly" %>
              </div>

              <div id="viewing_3" style="display:none;background:none;">
                <%= link_to_function "Previous Step", "$('#viewing_3').slideToggle();$('#viewing_2').slideToggle();" %>
                &middot;
                <%= link_to_function "Next Step", "$('#viewing_3').slideToggle();$('#viewing_4').slideToggle();" %>
                <br/>
                <%= image_tag "HowItWorks/Viewing/3.jpg", :title => "How Privly Works: Viewing Content Priv(ate)ly" %>
              </div>

              <div id="viewing_4" style="display:none;background:none;">
                <%= link_to_function "Previous Step", "$('#viewing_4').slideToggle();$('#viewing_3').slideToggle();" %>
                &middot;
                <%= link_to_function "Next Step", "$('#viewing_4').slideToggle();$('#viewing_5').slideToggle();" %>
                <br/>
                <%= image_tag "HowItWorks/Viewing/4.jpg", :title => "How Privly Works: Viewing Content Priv(ate)ly" %>
              </div>

              <div id="viewing_5" style="display:none;background:none;">
                <%= link_to_function "Previous Step", "$('#viewing_5').slideToggle();$('#viewing_4').slideToggle();" %>
                <br/>
                <%= image_tag "HowItWorks/Viewing/5.jpg", :title => "How Privly Works: Viewing Content Priv(ate)ly" %>
              </div>                
            </div>
          </div>
          <h2><a id="accordion_encryption" href="#accordion_encryption">Introduction to Privly Encryption</a></h2>
          <div>
            <iframe id="player_4" src="https://player.vimeo.com/video/39095681?title=0&amp;byline=0&amp;portrait=0&amp;api=1&amp;player_id=player_4" width="540" height="450" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          </div>
        </div><!-- accordion -->
      </div><!-- accordionhead -->
    </div>
    
    <!-- Organization -->
    <div id="tabs-3">
      <h2 style="font: normal 32px Lobster;">The Privly Foundation</h2>
      <p>
        Privacy on the internet is not something that can--or should--be owned. Privly's 2012 <%= link_to "Kickstarter", "http://www.kickstarter.com/projects/229630898/protect-your-content-anywhere-on-the-web-privly" %> funded the creation of the Privly Foundation. Incorporating the technology into a (pending) 501(c)3 tax-exempt foundation ensures the mission focus of Privly will be maintained. We thank our many donors on the <%= link_to "Privly donation page", pages_donate_path %>.
      </p>
      
      <br/>
        
      <p>More information about the Privly Foundation can be found on <%= link_to "www.privly.org", "http://privly.org" %>. The inaugural Privly Foundation board meeting took place in September 2012 with the following board members:</p>

      <br />

      <p><strong><a href="http://www.linkedin.com/in/seanbmcgregor">Sean McGregor</a></strong> - <em>Ph.D. Student in Computer Science at Oregon State University</em></p>
      <p>Sean McGregor is the creator and lead developer for the Privly project. A native of the United States, McGregor is a PhD student in computer science at Oregon State University. In 2008, McGregor earned a Bachelor of Arts from Claremont McKenna College, with studies in computer science, environmental policy, government, and economics.</p>
        
      <br />
        
      <p><strong><a href="http://www.linkedin.com/pub/carlos-jensen/0/145/356">Carlos Jensen</a></strong> - <em>Associate Professor of Computer Science at Oregon State University</em></p>
      <p>Carlos Jensen is an Associate Professor in the School of Electrical Engineering and Computer Science (EECS) at Oregon State University (OSU). He received his B.S. degree in Computer Science from the State University of New York (SUNY) Brockport, and a Ph.D. in Computer Science from the Georgia Institute of Technology in 2005, where he was a member of the Graphics, Visualization and Usability Center (GVU).</p>
        
      <br />
        
      <p>His areas of research are in Usable Privacy and Security (HCISec), with a particular focus on making online decisions about privacy and security understandable and meaningful to users. He also does research related to open source communities.</p>
        
      <br />
        
      <p><strong><a href="http://www.linkedin.com/pub/leslie-hawthorn/0/231/624">Leslie Hawthorn</a></strong> - <em>Community Action and Impact at Red Hat</em></p>
      <p>An internationally known community manager, speaker and author, <a href="http://twitter.com/lhawthorn">Leslie Hawthorn</a> has over 10 years experience in high tech project management, marketing and public relations. In March 2012 she joined <a href="http://redhat.com/">Red Hat, Inc.</a>, where she is responsible for Community Action &amp; Impact on the company’s Open Source and Standards team. Prior to Red Hat, she served as Outreach Manager at <a href="http://osuosl.org/">Oregon State University’s Open Source Lab</a> and as a Program Manager for <a href="http://code.google.com/opensource">Google’s Open Source Team</a>, where she managed the <a href="http://code.google.com/soc/">Google Summer of Code Program</a>, created the contest now known as <a href="http://code.google.com/gci">Google Code In</a> and launched the company’s <a href="http://google-opensource.blogspot.com/">Open Source Developer Blog</a>.</p>
    </div>
    
    <!-- Open Source -->
    <div id="tabs-4">
      <p>
        Privly is about creating a square deal for users, and that can't be done with a closed-source, proprietary platform. Anyone can add their skills to the project and their contribution will be protected.
      </p>
      
      <br/>
      
      <p>
        <strong><em>Maintainers:</em></strong> <br />
        <%= link_to "Sean McGregor", "https://github.com/smcgregor/" %>: 
        <%= link_to "Firefox", "https://github.com/privly/privly-firefox" %>, 
        <%= link_to "Chrome", "https://github.com/privly/privly-chrome" %>, 
        <%= link_to "Content Server", "https://github.com/privly/privly-web" %>, 
        <%= link_to "Test Cases", "https://github.com/privly/privly-test" %> 
        <br />
        <%= link_to "Jen Davidson", "https://github.com/jewifer" %>:
        <%= link_to "Privly.org", "http://www.privly.org" %>
        <br />
        <%= link_to "Balaji Athreya", "https://github.com/balajiathreya" %>: 
        <%= link_to "Firefox", "https://github.com/privly/privly-firefox" %> 
        <br />
        <%= link_to "Sanchit Karve", "https://github.com/born2c0de" %>: 
        <%= link_to "Opera", "https://github.com/privly/privly-opera" %> 
        <br />
        <%= link_to "Jesse Markowitz", "https://github.com/JesseMarkowitz" %>: 
        <%= link_to "Privly.org", "http://www.privly.org" %>
        <br />
        <%= link_to "Jesse Hostetler", "https://github.com/jhostetler" %>:
        <%= link_to "Library", "https://github.com/privly/privly-library" %>
      </p>
      
      <br />
      
      <p>
        <strong><em>Contributors:</em></strong> 
        <br />
        <%= link_to "Hanno Wagner", "http://de.linkedin.com/pub/hanno-wagner/6/33/305" %> (System Administration) 
        <br />
        <%= link_to "Tyler Dugoni", "http://www.linkedin.com/profile/view?id=204119935&locale=en_US&trk=tyah" %>  (Graphics)
        <br />
        Jared Howe (User Docs)
        <br />
      </p>
      
      <br />
      
      <p><strong><em>Past Contributors:</em></strong>
        <br />
        <%= link_to "Jesse Pollak", "https://github.com/jessepollak" %>: 
        Commits to <%= link_to "Safari", "https://github.com/privly/privly-safari" %> 
        and <%= link_to "Content Server", "https://github.com/privly/privly-web" %>
        <br />
        Charles Martin:
        Commits to <%= link_to "Firefox", "https://github.com/privly/privly-firefox" %>
      </p>
      
      <br />
      
      <p>
        For a more thorough treatment of Privly as a whole, visit <%= link_to "the overview", "https://github.com/privly/privly-organization/wiki/Privly-System-and-Organization-Overview" %>. For development discussion, join the <%= link_to "Development Mailing List", "https://groups.google.com/group/privly" %>. Many <%= link_to "repositories", "https://github.com/privly/" %> have their own wikis, but content not specific to a single repository will be in the <%= link_to "central wiki", "https://github.com/privly/privly-organization/wiki/" %>. Official announcements are found on <%= link_to "www.privly.org", "http://www.privly.org" %>. Live versions of the content server can be found at <%= link_to "privlyalpha.org", "https://privlyalpha.org" %> (stable) and <%= link_to "dev.privly.org", "https://dev.privly.org" %> (development). Auto-generated documentation can be found at <%= link_to "doc.privly.org", "http://doc.privly.org" %>. Extension test cases can be found at <%= link_to "test.privly.org", "http://test.privly.org" %>. 
        <br />
        <br />
        Privly developers gather on IRC in the #Privly room on irc.freenode.net
      </p>
      
      <br />
      
      <%= link_to image_tag("OSI-Approved-License-100x137.png", :style=>"display: block;   margin-left: auto;   margin-right: auto;"), "/license.txt" %>
    </div>
  </div>
</div>
