<% content_for(:title) do %>
    About
<% end %>

<% content_for(:extrajs) do %>
    <script>
    
    $(document).ready(function() {        
      $(".subhead").css("cssText","margin: 0 0 0px -10px !important");
    });
    
    $(function() {
        $( "#tabs" ).tabs();
    });
    </script>
<% end %>

<h2 class="subhead"><span>About</span></h2>


<div>

<div id="tabs">
    
    <ul>
        <li><a href="#tabs-1">Ownership</a></li>
        <li><a href="#tabs-2">Security</a></li>
        <li><a href="#tabs-3">In the News</a></li>
        <li><a href="#tabs-4">How it Will Work</a></li>
    </ul>
    

    
    <div id="tabs-1">
        <p>Your content should remain your content. At least at Privly, we think so. However, services like Facebook, Google, Twitter and the like, don’t seem to agree. Every time you accept their Terms of Service agreements, you give them the right to do whatever they wish with your data. More often than not, that involves selling your privacy.</p>

        <br />

        <p>Privly makes it impossible for others to control your data. By simply installing our browser extension, you are able to keep your content, well, your content. For those who don’t have the extension installed, they see a simple link that sends them to your post, photo, video, etc. For those who do have the extension installed, they are able to see your post on the page as it was intended. That’s because the extension pulls the data from the other side of the link into your Facebook page, Twitter feed, etc, seamlessly, without supplying that data to data miners. Meaning your content stays, <i>your</i> content.</p>

        <br />

        <%= image_tag "protestor.png", :title => "Privly Protestor" %>
        <br />
        <br />

        <p><b>Privly Does:</b></p>

        <ul>
          <li>Give you the ability to share/post/tweet/chat anywhere without giving the host site access to the content</li>
          <li>Give you the power to grant or revoke access to your content to anyone or anywhere</li>
          <li>Give the content creator ownership of their data</li>
        </ul>

        <br />

        <p><b>Privly Does NOT:</b>
        <ul>
          <li>Use or sell your data</li>
          <li>Give your data to third party companies</li>
          <li>Own your content, you do</li>
        </ul></p>

        <br />

        <p>Privly has proven itself as a concept. You can use it right now with Facebook, Gmail, Google+, Twitter, Reddit, and just about anywhere else. As we refine the <%= link_to "Firefox extension", pages_download_path %> and develop versions for other browsers, we hope you will check back. Sign up for an <%= link_to "invitation", new_user_invitation_path %>, <%= link_to "donate", pages_donate_path %>, or <%= link_to "join us", pages_join_path %>!</p>
        <br />
        <p>For more information, check out our <%= link_to "roadmap (technical)", pages_roadmap_path %> or <%= link_to "FAQ (organization information)", pages_faq_path %>.</p>
    </div>
    
    <div id="tabs-2">
        
        <p>Privly gives you more than privacy, it gives you security. Shifting your data and trust from an organization that sells your data to one that in the long run, can’t even protect it, doesn’t help. Eventually, a hacker, rogue employee, government, or even someone close to you will expose everything you wrote in an email, said in a chat, or posted in a message. No company can be trusted to protect your data forever. So now that you know even Privly can't protect you, what is the solution? Encryption.</p>

        <br />

        <p>Privly will help security minded organizations and "subversives" alike by encrypting your content and data <em>before</em> you send it to a public server for storage. Encrypting your data before sending it to the server means the server only sees a scrambled version of your content. This way, you can store your data anywhere without worrying about losing your privacy.</p>

        <br />

        <p>Privly works with Facebook, Gmail, Google+, Twitter, Reddit, and just about anywhere else. As we add encryption capabilities to the <%= link_to "Firefox extension", pages_download_path %> and develop versions for other browsers, we hope you will check back. Sign up for an <%= link_to "invitation", new_user_invitation_path %>, <%= link_to "donate", pages_donate_path %>, or <%= link_to "join us", pages_join_path %>!</p>
        
        <br />
        <object id="prezi_bddf537424623d28de6358a8c47830b3cbadb1d7" name="prezi_bddf537424623d28de6358a8c47830b3cbadb1d7" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="550" height="400"><param name="movie" value="https://prezi.com/bin/preziloader.swf"/><param name="allowfullscreen" value="true"/><param name="allowscriptaccess" value="always"/><param name="bgcolor" value="#ffffff"/><param name="flashvars" value="prezi_id=bddf537424623d28de6358a8c47830b3cbadb1d7&amp;lock_to_path=0&amp;color=ffffff&amp;autoplay=no&amp;autohide_ctrls=0"/><embed id="preziEmbed_bddf537424623d28de6358a8c47830b3cbadb1d7" name="preziEmbed_bddf537424623d28de6358a8c47830b3cbadb1d7" src="https://prezi.com/bin/preziloader.swf" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="550" height="400" bgcolor="#ffffff" flashvars="prezi_id=bddf537424623d28de6358a8c47830b3cbadb1d7&amp;lock_to_path=0&amp;color=ffffff&amp;autoplay=no&amp;autohide_ctrls=0"></embed></object>
        <br />
        <br />
        
        
        <h2>Our Encryption In Depth</h2>
        <div id="video_4">
            <iframe id="player_4" src="https://player.vimeo.com/video/39095681?title=0&amp;byline=0&amp;portrait=0&amp;api=1&amp;player_id=player_4" width="600" height="450" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
        
        <br />
        <br />
        <p>For more information, check out our <%= link_to "roadmap (technical)", pages_roadmap_path %> or <%= link_to "FAQ (organization information)", pages_faq_path %>.</p>
    </div>
    
    <div id="tabs-3">
        
        <p>Even though we are pre-alpha, we are generating some buzz! Help us build on top of the Privly foundation, <%= link_to "join us!", pages_join_path %></p>
        
        <br/>
        <br/>
        
        <p>
        <%= link_to image_tag("http://www.theatlantic.com/static/front/images/atlantic-logo.gif", :width=>230), "http://www.theatlantic.com/technology/archive/12/04/a-privacy-manifesto-in-code-what-if-your-emails-never-went-to-gmail-and-twitter-couldnt-see-your-tweets/255414/" %>
        
        <br/>
        <br/>
        
        <%= link_to image_tag("NewsSites/Spiegel_Online_logo.png", :width=>230), "http://www.spiegel.de/netzwelt/web/0,1518,825950,00.html" %>
        
        <br/>
        <br/>
        
        <%= link_to image_tag("NewsSites/technabob_240_90_logo_black.gif", :width=>230), "http://technabob.com/blog/2012/03/25/privly-content-proetection/" %>
        
        <br/>
        <br/>
        
        <%= link_to image_tag("NewsSites/omnitechnews.jpg", :width=>230), "http://www.omnitechnews.net/2012/03/29/privly/" %>
        
        <br/>
        <br/>
        
        <%= link_to image_tag("NewsSites/TweakTown.png", :width=>230), "http://www.tweaktown.com/news/23408/priv_ly_wants_to_give_privacy_back_to_users_acts_as_invisible_web_link/index.html" %>
        
        <br/>
        <br/>
        
        <%= link_to image_tag("NewsSites/GMMNewHeader.png", :width=>230), "http://www.givememind.com/priv-ly-protect-your-content-anywhere-on-the-web/" %>
        
        <br/>
        <br/>
        
        <%= link_to image_tag("NewsSites/DigitalTrends.png", :width=>230), "http://www.digitaltrends.com/web/for-your-eyes-only-privly-acts-like-invisible-ink-for-the-web/" %>
        
        
        <br/>
        <br/>
        
        <%= link_to image_tag("NewsSites/FutureZone.png", :width=>230), "http://futurezone.at/produkte/8392-priv-ly-verschluesselung-fuer-soziale-netzwerke.php" %>
        
        <br/>
        <br/>
        
        <%= link_to image_tag("NewsSites/ExtendedLimits.png", :width=>230), "http://www.extendlimits.nl/nieuws/artikel/priv.ly_kan_onze_privacy_terugbrengen/" %>
        
        <br/>
        <br/>
        
        <%= link_to image_tag("NewsSites/osu-tag.gif"), "http://eecs.oregonstate.edu/people/meet-our-students/privly" %>
        
        <br/>
        <br/>
        
        <%= link_to image_tag("NewsSites/Mashable_Logo_230px.png", :width=>230), "http://mashable.com/2012/04/04/privly/" %>
        
        <br/>
        <br/>
        
        <%= link_to image_tag("NewsSites/yc500.gif", :width=>230), "http://news.ycombinator.com/item?id=3799542" %>
        
        <br/>
        <br/>
        
        <%= link_to image_tag("NewsSites/techli.jpg", :width=>230), "http://tech.li/2012/04/encryption-extension-privly/" %>
        
        <br/>
        <br/>
        
        <%= link_to "Barrapunto (Spanish)", "http://barrapunto.com/articles/12/04/06/0852236.shtml" %>
        
        <br/>
        <br/>
        
        <%= link_to "Hacker10", "http://www.hacker10.com/computer-security/share-encrypted-messages-on-social-networks-with-privly/" %>
        
        <br/>
        <br/>
        
        <%= link_to "TheBlaze", "http://www.theblaze.com/stories/dont-want-facebook-to-read-your-messages-meet-the-start-up-making-communications-100-percent-private/" %>
        
        <br/>
        <br/>
        
        <%= link_to "Tech the Future", "http://www.techthefuture.com/technology/game-changing-browser-extension-anonymizes-your-web-activity/" %>
        
        <br/>
        <br/>
        
        <%= link_to "Social Media Club (German)", " http://www.socialmediaclub.at/2012/04/alternative-fur-datenschutz.html" %>
        
        <br/>
        <br/>
        
        </p>
        
    </div>
    
    <div id="tabs-4">
        <div style="text-align: center;font-size: 150%;">
            
            <h2 style="font-size: 150%;">Posting Privly Content</h2>
            
            <div id="posting_1">
                <%= link_to_function "Next Step", "$('#posting_1').slideToggle();$('#posting_2').slideToggle();" %>
                <br/>
                <%= image_tag "HowItWorks/Posting/1.jpg", :title => "How Privly Works: Posting Content Priv(ate)ly" %>

            </div>
        
            <div id="posting_2" style="display:none;background:none;">
                <%= link_to_function "Previous Step", "$('#posting_2').slideToggle();$('#posting_1').slideToggle();" %>
                &middot;
                <%= link_to_function "Next Step", "$('#posting_2').slideToggle();$('#posting_3').slideToggle();" %>
                <br/>
                <%= image_tag "HowItWorks/Posting/2.jpg", :title => "How Privly Works: Posting Content Priv(ate)ly" %>
            </div>
            
            <div id="posting_3" style="display:none;background:none;">
                <%= link_to_function "Previous Step", "$('#posting_3').slideToggle();$('#posting_2').slideToggle();" %>
                &middot;
                <%= link_to_function "Next Step", "$('#posting_3').slideToggle();$('#posting_4').slideToggle();" %>
                <br/>
                <%= image_tag "HowItWorks/Posting/3.jpg", :title => "How Privly Works: Posting Content Priv(ate)ly" %>
            </div>
        
            <div id="posting_4" style="display:none;background:none;">
                <%= link_to_function "Previous Step", "$('#posting_4').slideToggle();$('#posting_3').slideToggle();" %>
                &middot;
                <%= link_to_function "Next Step", "$('#posting_4').slideToggle();$('#posting_5').slideToggle();" %>
                <br/>
                <%= image_tag "HowItWorks/Posting/4.jpg", :title => "How Privly Works: Posting Content Priv(ate)ly" %>
            </div>
            
            <div id="posting_5" style="display:none;background:none;">
                <%= link_to_function "Previous Step", "$('#posting_5').slideToggle();$('#posting_4').slideToggle();" %>
                &middot;
                <%= link_to_function "Next Step", "$('#posting_5').slideToggle();$('#posting_6').slideToggle();" %>
                <br/>
                <%= image_tag "HowItWorks/Posting/5.jpg", :title => "How Privly Works: Posting Content Priv(ate)ly" %>
            </div>
        
            <div id="posting_6" style="display:none;background:none;">
                <%= link_to_function "Previous Step", "$('#posting_6').slideToggle();$('#posting_5').slideToggle();" %>
                &middot;
                <%= link_to_function "Next Step", "$('#posting_6').slideToggle();$('#posting_7').slideToggle();" %>
                <br/>
                <%= image_tag "HowItWorks/Posting/6.jpg", :title => "How Privly Works: Posting Content Priv(ate)ly" %>
            </div>
        
            <div id="posting_7" style="display:none;background:none;">
                <%= link_to_function "Previous Step", "$('#posting_7').slideToggle();$('#posting_6').slideToggle();" %>
                <br/>
                <%= image_tag "HowItWorks/Posting/7.jpg", :title => "How Privly Works: Posting Content Priv(ate)ly" %>
            </div>
        
            <br/>
            <br/>
            <hr/>
            <br/>
            <h2 style="font-size: 150%;">Viewing Privly Content</h2>
            <div id="viewing_1">
                <%= link_to_function "Next Step", "$('#viewing_1').slideToggle();$('#viewing_2').slideToggle();" %>
                <br/>
                <%= image_tag "HowItWorks/Viewing/1.jpg", :title => "How Privly Works: Viewing Content Priv(ate)ly" %>
            </div>
        
            <div id="viewing_2" style="display:none;background:none;">
                <%= link_to_function "Previous Step", "$('#viewing_2').slideToggle();$('#viewing_1').slideToggle();" %>
                &middot;
                <%= link_to_function "Next Step", "$('#viewing_2').slideToggle();$('#viewing_3').slideToggle();" %>
                <br/>
                <%= image_tag "HowItWorks/Viewing/2.jpg", :title => "How Privly Works: Viewing Content Priv(ate)ly" %>
            </div>
        
            <div id="viewing_3" style="display:none;background:none;">
                <%= link_to_function "Previous Step", "$('#viewing_3').slideToggle();$('#viewing_2').slideToggle();" %>
                &middot;
                <%= link_to_function "Next Step", "$('#viewing_3').slideToggle();$('#viewing_4').slideToggle();" %>
                <br/>
                <%= image_tag "HowItWorks/Viewing/3.jpg", :title => "How Privly Works: Viewing Content Priv(ate)ly" %>
            </div>
            
            <div id="viewing_4" style="display:none;background:none;">
                <%= link_to_function "Previous Step", "$('#viewing_4').slideToggle();$('#viewing_3').slideToggle();" %>
                &middot;
                <%= link_to_function "Next Step", "$('#viewing_4').slideToggle();$('#viewing_5').slideToggle();" %>
                <br/>
                <%= image_tag "HowItWorks/Viewing/4.jpg", :title => "How Privly Works: Viewing Content Priv(ate)ly" %>
            </div>
            
            <div id="viewing_5" style="display:none;background:none;">
                <%= link_to_function "Previous Step", "$('#viewing_5').slideToggle();$('#viewing_4').slideToggle();" %>
                <br/>
                <%= image_tag "HowItWorks/Viewing/5.jpg", :title => "How Privly Works: Viewing Content Priv(ate)ly" %>
            </div>
        </div>
        <br />
        <br />
        
        <p>Privly works with Facebook, Gmail, Google+, Twitter, Reddit, and just about anywhere else. We need help to develop the <%= link_to "Firefox extension", pages_download_path %> and applications for other platforms. Sign up for an <%= link_to "invitation", new_user_invitation_path %>, <%= link_to "donate", pages_donate_path %>, or <%= link_to "join us", pages_join_path %>!</p>
        
        <br />
        
        <p>For more information, check out our <%= link_to "roadmap (technical)", pages_roadmap_path %> or <%= link_to "FAQ (organization information)", pages_faq_path %>.</p>
    </div>
</div>

</div>


