<% content_for(:title) do %>
    About
<% end %>

<h2 class="subhead"><span>About</span></h2>

<p>Your content should remain your content. At least at Privly, we think so. However, services like Facebook, Google, Twitter and the like, don’t seem to agree. Every time you accept their Terms of Service agreements, you give them the right to do whatever they wish with your data. More often than not, that involves selling your privacy.</p>

<br />

<p>Privly makes it impossible for others to control your data. By simply installing our browser extension, you are able to keep your content, well, your content. For those who don’t have the extension installed, they see a simple link that sends them to your post, photo, video, etc. For those who do have the extension installed, they are able to see your post on the page as it was intended. That’s because the extension pulls the data from the other side of the link into your Facebook page, Twitter feed, etc, seamlessly, without supplying that data to data miners. Meaning your content stays, <i>your</i> content.</p>

<br />

<p><b>Privly Does:</b></p>

<ul>
  <li>Give you the ability to share/post/tweet/chat anywhere without giving the host site access to the content</li>
  <li>Give you the power to grant or revoke access to your content to anyone or anywhere</li>
  <li>Give the content creator ownership of their data</li>
</ul>

<br />

<p><b>Privly Does NOT:</b>
<ul>
  <li>Use or sell your data</li>
  <li>Give your data to third party companies</li>
  <li>Own your content, you do</li>
</ul></p>

<br />

<p>Privly has proven itself as a concept. You can use it right now with Facebook, Gmail, Google+, Twitter, Reddit, and just about anywhere else. As we refine the <%= link_to "Firefox extension", pages_download_path %> and develop versions for other browsers, we hope you will check back. Sign up for an <%= link_to "invitation", new_invitation_path %>, <%= link_to "donate", pages_donate_path %>, or <%= link_to "join us", pages_join_path %>!</p>

<br />

<p>For more information, check out our <%= link_to "roadmap (technical)", pages_roadmap_path %> or <%= link_to "FAQ (organization information)", pages_faq_path %>.</p>

<br />

<%= image_tag "protestor.png", :title => "Privly Protestor" %>
