<% content_for(:title) do %>
    Account
<% end %>

<h2 class="subhead"><span>Account</span></h2>

<% #Account Information %>
<h2>Testing Account Information</h2>
<% if current_user.can_post %>
  <p>Your test user account is active. Privly is in a closed Alpha version. Post at your own risk.</p>
<% else %>
  <p>Your user account's posting permission has been deactivated for lack of development and testing activity. If you are active in Privly development, please ask on email or IRC for it to be reactivated.</p>
<% end %>

<% #Identity Information %>
<br /><h2>Identity Information</h2>
<p>Your Privly verified email is "<%= current_user.email %>".</p>
<p>Your Privly verified domain is "<%= current_user.domain %>".</p>
<p>Your current IP address is "<%= request.remote_ip %>".</p>
<p>Additional forms of identification are under development.</p>
<p>To change the password for the account associated with <%= current_user.email %>, <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %> and check login options to manage your password.</p>

<% #Account Value %>
<% if current_user.forever_account_value > 0 or current_user.beta_invites > 0 %>
  <br /><h2>Perks</h2>
<% end %>
<% if current_user.forever_account_value > 0 %>
  <p>Your user account currently has a forever account value of $<%= current_user.forever_account_value %>/month. Forever account benefits are not currently active, and will not necessarily be on this server, but if transferred, the account value will carry over.</p>
<% end %>
<% if current_user.beta_invites > 0 %>
  <p>Your user account currently has <%= current_user.beta_invites %> beta invites and <%= current_user.alpha_invites %> alpha invites, but they are not currently active. We will email you when it is time to invite your friends.</p>
<% else %>
  <p>You do not currently have any invitations.</p>
<% end %>

<% #Post Actions %>
<% if current_user.posts.count > 0 %>
  <br /><h2>User Account Data Management</h2>
  <p><%= button_to 'Export All My Posts', {:controller => "posts", :action => "index", :format => :csv}, :confirm => 'Are you sure? This will export all of your posts in .csv format.', :method => :get %></p>
  <p><%= button_to 'Destroy All My Posts', posts_destroy_all_path, :confirm => 'Are you sure? This will destroy everything you know and love in this site.', :method => :delete %></p>
<% end %>
