<% content_for(:title) do %>
    Download Extensions
<% end %>

<% content_for(:extrajs) do %>
<script type="text/javascript">
    $(document).ready(function() {
      $("#chrome_link").mouseenter(function(){$("#chrome_message").slideDown("slow")});
      $("#chrome_link").mouseleave(function(){$("#chrome_message").slideUp("slow")});
      
      $("#firefox_link").mouseenter(function(){$("#firefox_message").slideDown("slow")});
      $("#firefox_link").mouseleave(function(){$("#firefox_message").slideUp("slow")});
    });
</script>
<% end %>

<h2 class="subhead"><span>Download</span></h2>

<p>The extensions are under active development. Check back later if you do not like change and filing <%= link_to "bug reports", pages_bug_path %>. We will announce developments on Privly's <%= link_to "Twitter", "http://twitter.com/#!/Privly" %> account.</p>
<br />

<div style="margin-bottom: 225px;">
    <div id="firefox_link" style="float: left; width: 50%;">
        <%= link_to("https://addons.mozilla.org/en-US/firefox/addon/privly/") do %>
            <div style="height: 150px">
                <%= image_tag "firefox_logo_150.png", :alt => "Firefox Logo", :style=>"display: block;margin-left: auto;margin-right: auto;" %>
            </div>
            <div name="extension" style="text-align: center">
                <h1 id="firefox">Firefox Extension</h1>
                <div id="firefox_message" style="display:none;background:none">
                    <p>The Firefox extension supports viewing Privly links, and uploading new content directly to the Privly servers.</p>
                </div>
            </div>
        <% end %>
    </div>

    <div id="chrome_link" style="float: left; width: 50%;">
    <%= link_to("https://chrome.google.com/webstore/detail/pkokikcdapfpkkkjpdaamjanniaempol") do %>
        <div style="height: 150px">
            <%= image_tag "chrome-logo_150X.png", :alt => "Chrome Logo", :style=>"display: block;margin-left: auto;margin-right: auto;" %>
        </div>
        <div name="extension" style="text-align: center">
            <h1 id="chrome">Chrome Extension</h1>
            <div id="chrome_message" style="display:none;background:none">
                <p>The Chrome extension allows you to view links, but extension-side link submission is still under development.</p>
            </div>
        </div>
    <% end %>
    </div>
</div>

<br />
<br />

<p style="text-align: center;">
<%= link_to_function "Where is my browser?", "$('#browser_not_Listed').slideToggle('slow')" %>
</p>
<div id="browser_not_Listed" style="display:none;background:none">
    <p>We need to bring Privly to other browsers and platforms, so if you don't see your endpoint here, please consider <%= link_to "joining", pages_join_path %> the team.</p>
</div>


<br />

<h1>Test Your Extension on This Page</h1>
<p>The following page is pre-seeded with Privly content so you can test the extension out: <%= link_to "Facebook", "https://www.facebook.com/profile.php?id=100002254562518&sk=wall" %>.</p>

<br />
<br />
<h1>Post these Links Anywhere</h1>
<br/>
<p>
    <ol>
        <li>I just tried out Privly!... <br/><br/>https://priv.ly/posts/74</li>
        <br/><br/>
        <li>Give Me Liberty or Give me Death... <br/><br/>https://priv.ly/posts/3</li>
    </ol>
</p>
