<% content_for(:title) do %>
    Download Extensions
<% end %>

<h2 class="subhead"><span>Download</span></h2>

<p>We need to bring Privly to other browsers and platforms, so if you don't see your endpoint here, please consider <%= link_to "joining", pages_join_path %> the team.</p>

<br />
<p>The extensions are under active development. Check back later if you do not like change and filing the occasional bug report. We will announce developments on Privly's <%= link_to "Twitter", "http://twitter.com/#!/Privly" %> account.</p>
<br />

<%= link_to("https://addons.mozilla.org/en-US/firefox/addon/privly/") do %>
    <%= image_tag "firefox_logo_150.png", :alt => "Firefox Logo" %>
    <div name="extension">
        <h1 id="firefox">Firefox Extension</h1>
    </div>
<% end %>
<p>Note: Automatic Updates are coming with the next version of the Firefox extension.</p>
<br />
<br />

<%= link_to("https://chrome.google.com/webstore/detail/pkokikcdapfpkkkjpdaamjanniaempol") do %>
    <%= image_tag "chrome-logo_150X.png", :alt => "Chrome Logo" %>
    <div name="extension">
        <h1 id="chrome">Google Chrome Extension</h1>
    </div>
<% end %>
<p>Note: The Chrome extension allows you to view links, but extension-side link submission is still under development.</p>
<br />
<br />
<br />
<br />
<h1>Test Sites</h1>
<p>The following pages are pre-seeded with Privly content so you can test the extension out: <%= link_to "Facebook", "https://www.facebook.com/profile.php?id=100002254562518&sk=wall" %>, <%= link_to "Twitter", "https://twitter.com/#!/PrivlyTest" %>.</p>
