<% content_for(:title) do %>
    Frequently Asked Questions
<% end %>

<h2 class="subhead"><span>Frequently Asked Questions</span></h2>

<div class="post">
    <div class="posthead">
        <label>
        <h2>Why is this an open source project?</h2>
        <p>We see Privly as a protocol, not a content network. We will build out the standard functionality and libraries so you can bring the system to whatever platform you work with. We also want to develop the concept into an information security application, and you should distrust any "secure" platform that will not let you audit and improve their source code.</p>
    </div>
</div>

<div class="post">
    <div class="posthead">
        <label>
        <h2>Why Should I Write Code for Privly?</h2>
        <p>Privly is and will always be open source. Your code will attempt to reshape the way the "link economy" functions, and just like the web, no one owns it. Code for Privly if you are passionate about taking back your content, using the web in new ways, or need an easier way to share information securely.</p>
    </div>
</div>

<div class="post">
    <div class="posthead">
        <label>
        <h2>Why should I donate to Privly?</h2>
        <p>Privly must be a community supported project, and without your help, we will not make it. If someone does not solve the privacy and content ownership problem, then we are left with the status quo, which is unacceptable.</p>
    </div>
</div>

<div class="post">
    <div class="posthead">
        <label>
        <h2>How are you going to make money off of this?</h2>
        <p>(this one is a little technical) Privly's server load is potentially as high as Twitter's, and they have millions of dollars in funding. Since we are taking our idea to the people, rather than the venture capitalists, we will distribute the load to our users by allowing them to run their own Privly content servers. Content hosted by third party servers will not be included on a white list for automatic page inclusion unless the end user adds them to their personal white list. Third party commercial interests can gain various levels of automatic-inclusion permissions by paying for an audit of their security and privacy. This is similar to the way Mozilla generates revenue from their preferred search providers, but we will not allow tracking. We are also looking into ways of distributing encrypted content with peer-to-peer technology in a way that will not sacrifice browsing anonymity. Privly will also offer paid premium services where the services carry a financial burden for Privly. Basically, Privly will make money where it has expenses. We will work off of donations as long as possible.</p>
    </div>
</div>

<div class="post">
    <div class="posthead">
        <label>
        <h2>When Will Privly Reach an Open Beta?</h2>
        <p>Privly will reach an open Beta when it has a stable extension for 80 percent of the market, and server capacity to meet projected demand. We will not get there without help, so please consider <%= link_to "joining the team.", pages_join_path %> We also want to know if you would use the system, so please sign up for an <%= link_to "invitation", new_user_invitation_path %> if you want to keep us coding.</p>
    </div>
</div>

<div class="post">
    <div class="posthead">
        <label>
        <h2>Can I Serve Content Through a Privly Link?</h2>
        <p>For the time being, content must be served from Privly servers. Before we open up an API for other content servers, we need to secure the extensions and provide a mechanism for whitelisting content hosts. Privly extensions need to prevent phishing, scripting attacks, and the tracking of our readers. You can help us get to an API by <%= link_to "joining the team.", pages_join_path %></p>
    </div>
</div>

<div class="post">
    <div class="posthead">
        <label>
        <h2>Are You Competing with <%= link_to "Diaspora", "http://joindiaspora.org" %>?</h2>
        <p>Privly does <strong>not</strong> want to be another social network. Diaspora is a solid foundation for secure sharing, but you can't share Diaspora content securely everywhere. We can change that by injecting link content into secure page elements. We want to reduce Diaspora, and all social networks to their core offering: a social graph. They do not need your content, they need a reference to your content.</p>
        <br/>
        <p>Privly's goal is to set a new standard, whereby only the content creators and their designees have access to the cleartext. Privly, Diaspora, Facebook, Google, Twitter, <i>et al.</i> never need access.</p>
    </div>
</div>

<div class="post">
    <div class="posthead">
        <label>
        <h2>Will this destroy my web site's layout?</h2>
        <p>In all test cases to date, Privly content has not affected page layout adversely. We can use sites in ways other than they were intended, like embedding a chat room in a Twitter feed, or putting a Wiki in an article's comment, but it does not change the layout or design of the host site. We hope the system will gain wider acceptance, and sites will be able to specify how injected content should be displayed. The core functionality of the Privly system can be used without a browser extension, if the host site runs our script.</p>
    </div>
</div>

<div class="post">
    <div class="posthead">
        <label>
        <h2>Ask a Question by <%= link_to "email list", pages_email_path %> or <%= link_to "contact us.", pages_people_path %></h2>
        <p></p>
    </div>
</div>
