<% content_for(:title) do %>
    People
<% end %>

<h2 class="subhead"><span>People</span></h2>

<div class="post">
    <div class="posthead">
        <h3><%= link_to "Sean McGregor, ", "http://www.linkedin.com/in/seanbmcgregor", :target => "_blank" %>Founder</h3>
        <p>Sean McGregor is a <%= link_to "Machine Learning", "http://en.wikipedia.org/wiki/Machine_learning" %> PhD student at Oregon State University. He began developing the Privly concept in response to platforms asserting ownership over their community's content. You can contact him by email, privlycontact [at] seanbmcgregor.com, or by <%= link_to_function "entering your phone number", "$('#phone_object').slideDown('slow');"  %>. Google will call you, then connect you with Sean.</p>
    </div>
    <div id="phone_object" style="display:none;background:none">
        <object  type="application/x-shockwave-flash" data="https://clients4.google.com/voice/embed/webCallButton" width="230" height="85"><param name="movie" value="https://clients4.google.com/voice/embed/webCallButton" /><param name="wmode" value="transparent" /><param name="FlashVars" value="id=836f2d2661d2ac4d60dc333adab5f77d6b53eb97&style=0" /></object>
    </div>
</div>

<div class="post">
    <div class="posthead">
        <h3><%= link_to "Balaji Athreya, ", "http://www.linkedin.com/in/balajiathreya", :target => "_blank" %>Developer</h3>
        <p>Balaji Athreya is a graduate student in Computer Science at Oregon State University studying Software Engineering and Usability. He likes filter coffee, programming and Ilayaraja in no specific order. His Privly work is focussed on the Firefox Extension.</p>
    </div>
</div>

<div class="post">
    <div class="posthead">
        <h3><%= link_to_function "Jesse Hostetler, ", "alert('HOSTETLER does NOT like public websites. Contact us if you find something good to link to...');" %>Developer</h3>
        <p>Jesse Hostetler is a <%= link_to "Machine Learning", "http://en.wikipedia.org/wiki/Machine_learning" %> PhD student at Oregon State University. His Privly work is focused on encryption libraries for the extensions.</p>
    </div>
</div>