<% content_for(:title) do %>
    Privacy and TOS
<% end %>

<% content_for(:extrajs) do %>
    <script type="text/javascript">
      $(function() {
          $( "#rules_accordion" ).accordion({autoHeight: false, 
            collapsible: true, active: false, heightStyle: "content" });
      });
    </script>
<% end %>

<h2 class="subhead"><span>Trust Center</span></h2>

<p>This page contains information about this specific content server.</p>

<div style="color: #FF0000;">
  <h2>Disclaimer</h2>
  <p>Please note that this content server does <span style="font-weight:bold;">not</span> currently offer:</p>
  <ul>
    <li>Protection from governments</li>
    <li>Protection from our hosting provider</li>
    <li>Protection from the domain name system</li>
  </ul>
  <p>Privly is under active development and should not be trusted with anything important.</p>
</div>

<div class="accordionhead">
    <div id="rules_accordion">

      <h2><a id="accordion_security_alerts" href="#accordion_security_alerts">Security Alerts</a></h2>
      <div>
        <p>
          If you have a security issue you believe needs immediate attention, please do not publicly disclose it without first giving a chance for the Privly developers to fix it. You can email us directly at privly [at] privly.org for critical issues, or enter less critical issues into the <%= link_to "bug form", "http://www.privly.org/content/bug-report" %>. At the time of this writing, there were no known security issues.
        </p>
      </div>
      
      <h2><a id="accordion_disclosures" href="#accordion_disclosures">Trusted Parties</a></h2>
      <div>
        <p>This section is dedicated to describing the parties with any level of access to information transmitted by this content server, or inferable from those transmissions. We are actively working to reduce the necessary disclosures of this list.</p>
        
        <p>
          <strong>The Privly Foundation: Code Updates, System Administration:</strong>
          You are currently trusting Privly's system administration capabilities. Active system administrators include Sean McGregor (the content server). We are working to reduce all trust and reliance on content hosts by developing the client-side encryption capabilities of Privly.
        </p>
        
        <p>
          <strong>Rackspace: Virtual Private Server Host:</strong>
          Our host could likely gain root access on our server.
        </p>
        
        <p>
          <strong>GoDaddy: DNS, privlyalpha.org Registrar:</strong>
          The Alpha version of the server has DNS through GoDaddy, and the domain is registered through their servers. We need a critical evaluation of all the DNS and domain registrars available.
        </p>
        
        <p>
          <strong>thoughtbot and Airbrake: Error Logging Service:</strong>
          We use the Airbrake error logging service for recording and managing errors in the content server. In some instances this could lead to Airbrake obtaining information available to Privly. We will consider switching to a self-hosted solution when we transition to the Beta version.
        </p>
        
        <p>
          <strong>Browser Distributors: Extension Distribution:</strong>
          The Privly extensions are distributed by their respective browser authors. We trust them to distribute unmodified versions of Privly. If you don't trust Mozilla, Opera, or Google to distribute the original extension, you should download the extension's source code directly from the appropriate Privly repository.
        </p>
        
        <p>
          <strong>Our Users: Understanding:</strong>
          Privly is a new concept under active development. We can build Privly, but unless our users understand Privly capabilities, they will not be able to protect their content with Privly.
        </p>
          
      </div>
      
      <h2><a id="accordion_privacy" href="#accordion_privacy">Privacy</a></h2>
      <div>
          <h1>Principles</h1>

          <div class="post">
              <div class="posthead">
                  <h2>Make Privacy Automatic</h2>
                  <p>We will eventually store everything as cipher-text (encrypted), and execute all encryption services on the browser. We don't want to be able to read anything. Your content will be as secure as your password.</p>
              </div>
          </div>

          <div class="post">
              <div class="posthead">
                  <h2>It is <strong>Your</strong> Data</h2>
                  <p>We will not archive your content after you delete it, and we will never crawl your content.</p>
              </div>
          </div>

          <div class="post">
              <div class="posthead">
                  <h2>Everything is Opt-In</h2>
                  <p>When we add capabilities, access to existing content will not change unless the content-owner explicitly changes the settings.</p>
              </div>
          </div>

          <div class="post">
              <div class="posthead">
                  <h2>Reading Content is Also Private</h2>
                  <p>Content owners do not know which links you read. Privly will only collect user data (example: geography) that helps us deliver content more effectively.</p>
              </div>
          </div>
          
          <div class="post">
              <div class="posthead">
                  <h2>Other Concerns?</h2>
                  <p>Above all we want to enable privacy across the internet. We will keep development and policies open and responsive to the users, so get involved!</p>
              </div>
          </div>
      </div>
            
      <h2><a id="accordion_terms" href="#accordion_terms">Terms of Service</a></h2>
      <div>
        <p>A new draft of the Privacy Policy, License, and Terms will be adopted by the Privly Foundation board. Until the draft legal documents are adopted and published here, these policies are in effect. We will discuss the draft documents on the <%= link_to "development mailing list", "http://groups.google.com/group/privly" %></p>
        <hr>
        <%= render "terms" %>
      </div>
      
      <h2><a id="accordion_trademark" href="#accordion_trademark">Privly Trademark FAQ and License</a></h2>
      <div>
        
        
        <p>The Privly extensions and content server are licensed under the <%= link_to "MIT License", "/license.txt" %>. The Privly source code is hosted at <%= link_to "github.com", "https://github.com/privly/" %></p>
        
        <%= link_to image_tag("OSI-Approved-License-100x137.png", :style=>"display: block;   margin-left: auto;   margin-right: auto;"), "/license.txt" %>
        
        <h2>How can I use the name "Privly"?</h2>
        <p>The <%= link_to "Privly Foundation", "http://www.privly.org" %> encourages developers to use the name Privly in ways that do not confuse the public about the source of privacy software and services. If you are building open-source non-commercial software or services that incorporate or work with The Privly Project's code, you may use the name "Privly" in an accurate description of your work. We ask you to include a link to the official Privly website <%= link_to "https://priv.ly", "https://priv.ly" %> so users can verify the original source of Privly for themselves, and a note indicating that your project is not sponsored by The Privly Foundation. For example, "This product is produced independently from the Privly&trade; privacy software and carries no guarantee from The Privly Foundation about quality, suitability or anything else."</p>
        <br />
        <h2>Can I use the Privly logo?</h2>
        <p>If you're making non-commercial use of Privly software, you may also use the Privly logo (as an illustration, not as a brand for your products). Please don't modify the design or colors of the logo. You can use items that look like the Privly logo to illustrate a point (e.g. the Privly logo in composition with a browser, for instance), so long as they're not used as logos in ways that would confuse people.</p>
        <br />
        <h2>Can I use the word "Privly" as part of the name of my product or my domain name?</h2>
        <p>We recommend that you don't do this, but rather find a name that will accurately identify your products or services. Remember that our goal is to make sure that people aren't confused about whether your product or project is made or endorsed by The Privly Project. Creating a new brand that incorporates the Privly brand is likely to lead to confusion.</p>
        <br />
        <h2>Does this mean you're enforcing trademark rights?</h2>
        <p>The Privly Foundation is a non-profit corporation organized to research and develop the Privly privacy software and network. We don't want to be trademark bullies, but we will use trademark to protect the public's ability to recognize Privly Project software. Trademark law helps us to assure that the name is used only in connection with genuine Privly privacy software and for accurate description of software and services. After all, to protect their privacy securely, computer users must be able to identify the software they are using, so they can account properly for its strengths and weaknesses. We work with developers to improve the software and actively encourage researchers to document attacks to help us strengthen its privacy protection further. We distribute the software itself freely, but require correct attribution.</p>
        <br />
        <h2>What if I produce non-open source, commercial products based on Privly?</h2>
        <p>Contact the Privly Foundation.</p>
        <br />
        <h2>What is the difference between Privly and Priv.ly?</h2>
        <p>Priv.ly hosts a list of Privly compliant hosts, and is used for marketing Privly. The Privly name is pending a formal trademark, and Priv.ly is a "Domain Hack" of the Privly trademark and enjoys the same protections as Privly.</p>
        <br />
        <h2>About this Document</h2>
        <p>This document was repurposed from <%= link_to "TOR's FAQ", "https://www.torproject.org/docs/trademark-faq.html.en" %>, which is licensed under the <%= link_to "Creative Commons Attribution 3.0", "http://creativecommons.org/licenses/by/3.0/us/" %> United States License.</p>
      </div>
      
      <h2><a id="accordion_dmca" href="#accordion_dmca">DMCA Notice &amp; Takedown Procedure</a></h2>
      <div>
        <p>The Privly Foundation abides by the federal <a href="http://www.copyright.gov/legislation/dmca.pdf">Digital Millennium Copyright Act (DMCA)</a> by responding to notices of alleged infringement that comply with the DMCA and other applicable laws. As part of our response, we may remove or disable access to material residing on a site that is controlled or operated by The Privly Foundation that is claimed to be infringing, in which case we will make a good-faith attempt to contact the person who submitted the affected material so that they may make a counter notification, also in accordance with the DMCA.</p>
        <br />
        <p>The Privly Foundation does not control content hosted on third party websites, and cannot remove content from sites it does not own or control. If you are the copyright owner of content hosted on a third party site, and you have not authorized the use of your content, please contact the administrator of that website directly to have the content removed.</p>
        <br />
        <p>Before serving either a Notice of Infringing Material or Counter-Notification, you may wish to contact a lawyer to better understand your rights and obligations under the DMCA and other applicable laws.  The following notice requirements are intended to comply with the Privly Foundation&#8217;s rights and obligations under the DMCA and, in particular, section 512(c), and do not constitute legal advice.</p>
        <br />
        <p><strong>Notice of Infringing Material</strong></p>
        <p>To file a notice of infringing material on a site owned or controlled by the Privly Foundation, please provide a notification containing the following details:</p>
        <ol>
          <li>Reasonably sufficient details to enable us to identify the work claimed to be infringed or, if multiple works are claimed to be infringed, a representative list of such works (for example: title, author, any registration or tracking number, URL);</li>
          <li>Reasonably sufficient detail to enable us to identify and locate the material that is claimed to be infringing (for example a link to the page that contains the material);</li>
          <li>Your contact information so that we can contact you (for example, your address, telephone number, email address);</li>
          <li>A statement that you have a good faith belief that the use of the material identified in (2) is not authorized by the copyright owner, its agent, or the law;</li>
          <li>A statement, under penalty of perjury, that the information in the notification is accurate and that you are authorized to act on behalf of the owner of the exclusive right that is alleged to be infringed.</li>
          <li>Your physical or electronic signature.</li>
        </ol>
        <p>Then send this notice to:</p>
        <br />
        <p><strong>By Mail:</strong></p>
        <p>DMCA Agent: Sean McGregor<br />
        8885 Rio San Diego Drive, Suite 300<br />
        San Diego, CA 92108</p>
        <br />
        <p><strong>By Fax:</strong></p>
        <p>Attn: DMCA Agent, the Privly Foundation<br />
        +1 619.278.0024</p>
        <br />
        <p><strong>By Email:</strong></p>
        <p>Email: <a href="mailto:dmca@privly.org">dmca@privly.org</a></p>
        <br />
        <h2>Counter-Notification</h2>
        <p>If material that you have posted to a site controlled or operated by the Privly Foundation has been taken down, you may file a counter-notification that contains the following details:</p>
        <ol>
          <li>Identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or disabled;</li>
          <li>A statement, under penalty of perjury, that you have a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material in question;</li>
          <li>Your name, address and telephone number;</li>
          <li>A statement that you consent to the jurisdiction of the Federal District Court for judicial district in which your address is located or, if your address is outside of the USA, for any judicial district in which the Privly Foundation may be found and that you will accept service of process from the person who submitted a notice in compliance with the section (c)(1)(C) of the DMCA, as generally described above;</li>
          <li>Your physical or electronic signature.</li>
        </ol>
        <p>Then send this notice to:</p>
        <br />
        <p><strong>By Mail:</strong></p>
        <p>DMCA Agent: Sean McGregor<br />
        8885 Rio San Diego Drive, Suite 300<br />
        San Diego, CA 92108</p>
        <br />
        <p><strong>By Fax:</strong></p>
        <p>Attn: DMCA Agent, the Privly Foundation<br />
        +1 619.278.0024</p>
        <br />
        <p><strong>By Email:</strong></p>
        <p>Email: <a href="mailto:dmca@privly.org">dmca@privly.org</a></p>
        <br />
        <p>You may be able to find examples of counter-notifications at <a href="http://www.chillingeffects.org/dmca/counter512.pdf">www.chillingeffects.org/dmca/counter512.pdf</a>.  Please note, however, that this is no substitute for legal advice and you should obtain legal advice to better understand your rights and obligations under the DMCA and applicable laws.</p>
        <h2>About this Document</h2>
        <p>This document was repurposed from <%= link_to "Creative Commons' DMCA statement", "http://creativecommons.org/dmca" %>, which is licensed under the <%= link_to "Creative Commons Attribution 3.0", "http://creativecommons.org/licenses/by/3.0/us/" %> United States License.</p>
      </div>
    </div>
    
    <br />

    <p style="text-align: center;">
        <%= link_to "Show All", "#", {:onclick => "$('#rules_accordion').accordion('destroy');$('#show_all_link').toggle();", :id => "show_all_link"} %>
    </p>
</div>
