<% content_for(:title) do %>
    Roadmap
<% end %>

<% content_for(:extracss) do %>
    <style type="text/css">
    .developmentstatus {font-style:italic;font-weight: bold;}
    .developmentstatusreleased {color:#0000FF;}
    .developmentstatusbeta {color:#00CCFF;}
    .developmentstatusalpha {color:#FFFF00;}
    .developmentstatusdeveloping {color:#FF9900;}
    .developmentstatusvapor {color:#FF0000;}
    .accordionhead h2 {text-align: center;}
    .accordionhead h1 {text-align: center;}
    </style>
<% end %>

<% content_for(:extrajs) do %>
    <script type="text/javascript">
      $(function() {
          $( "#roadmap_accordion" ).accordion({autoHeight: false, collapsible: true, active: false});
      });
    </script>
<% end %>

<h2 class="subhead"><span>Road Map</span></h2>

<p>
    Privly and the associated browser extensions are an open source project, whose development is dictated by the passions and funding of its contributors. As such, this roadmap outlines development areas for the system, but not a timetable or ordering of deliverables. The best way for you to speed development is to <%= link_to "join the team", pages_join_path %> or <%= link_to "make a donation", pages_donate_path %>. As we near completion of major features, we will make announcements on the site, as well as on <%= link_to "Twitter.", "http://twitter.com/#!/Privly" %>
</p>

<p>
    Please note that items are marked <span class="developmentstatus developmentstatusdeveloping">under development</span> only if someone is currently working on that element.
</p>

<br />

<div class="accordionhead">
    <h1>Development Areas</h1>
    <div id="roadmap_accordion">

        <h2><a id="accordion_ownership" href="#accordion_ownership">Content Ownership</a></h2>
        <div>
        	<ul class="posts">
        	    <li><em>Content Server:</em> Users have a default location to post private content. <%= link_to "(Priv.ly)", root_path %> <span class="developmentstatus developmentstatusdeveloping">Under Development</span></li>
        	    <li><em>Confederated Content:</em> Store your content anywhere. <span class="developmentstatus developmentstatusvapor">Not Under Development</span></li>
        	    <li><em>Anonymous Content:</em> Users can associate content with a secret key instead of a user account. <span class="developmentstatus developmentstatusvapor">Not Under Development</span></li>
        	    <li><em>Content Portability:</em> Users have the ability to export/import all their content to/from common formats. <span class="developmentstatus developmentstatusvapor">Not Under Development</span></li>
        	    <li><em>Content lifetime:</em> Users have the ability to define a lifetime for their content (e.g. automatically delete after 30 days) as well as purge their content entirely. <span class="developmentstatus developmentstatusdeveloping">Under Development</span></li>
        	    <li><em>GeoIP Based Restrictions:</em> No major platforms have sharing rules for geographic regions. While GeoIP is not a robust security measure, it does make it difficult to access content outside an intended area. <span class="developmentstatus developmentstatusvapor">Not Under Development</span></li>
            </ul>
        </div>
    
        <h2><a id="accordion_security" href="#accordion_security">Security</a></h2>
        <div>
        	<ul class="posts">
        	    <li><em>Extension-side encryption/decryption:</em> With a reliable cryptography library we can generate keys and encrypt content before sending it to any content server. We have big plans for this feature once the core system is fully functional. <span class="developmentstatus developmentstatusdeveloping">Under Development</span></li>
        	    <li><em>Isolate returned content from host page:</em> The host page cannot have access to injected content. Pages hosting Privly links do not have access to the linked content. <span class="developmentstatus developmentstatusreleased">Completed</span></li>
        	    <li><em>Differentiate remote content from page content (eliminate phishing risk):</em> Some malicious users may use Privly as a method of phishing by posting that looks like it originates from the host site.  The extension will make it obvious which content is from the host page and which content is from Privly. <span class="developmentstatus developmentstatusdeveloping">Under Development</span></li>
        	    <li><em>Prevent browser caching:</em> While it is likely impossible to prevent all forms of caching, the extension will provide some steps to ensure that content is not cached any longer than it needs to be. <span class="developmentstatus developmentstatusvapor">Not Under Development</span></li>
        	    <li><em>Isolate Privly Content from Other Extensions:</em> Privly content is currently injected into the frame using an iframe. While this method prevents the host site from reading the content, other extensions still have access to the displayed content. We need a solution to this problem. <span class="developmentstatus developmentstatusvapor">Not Under Development</span></li>
            </ul>
        </div>
    
        <h2><a id="accordion_share" href="#accordion_share">Share Everywhere</a></h2>
        <div>
            <p>There are numerous ways to identify who you want to share something with. Content should be permissioned by whichever platform you want.</p>
        	<ul class="posts">
        	    <li><em>Share by Email</em> <span class="developmentstatus developmentstatusdeveloping">Under Development</span></li>
        	    <li><em>Share by Password</em> <span class="developmentstatus developmentstatusvapor">Not Under Development</span></li>
        	    <li><em>Share with PGP key</em> <span class="developmentstatus developmentstatusvapor">Not Under Development</span></li>
        	    <li><em>Share by Domain (Organizational sharing)</em> <span class="developmentstatus developmentstatusvapor">Not Under Development</span></li>
        	    <li><em>Share by Geography (geoIP)</em> <span class="developmentstatus developmentstatusvapor">Not Under Development</span></li>
        	    <li><em>Share by Diaspora Aspect, Google+ Circle, Twitter List, etc</em> <span class="developmentstatus developmentstatusvapor">Not Under Development</span></li>
            </ul>
        </div>
    
        <h2><a id="accordion_looks" href="#accordion_looks">Make it Look Good</a></h2>
        <div>
        	<ul class="posts">
        	    <li><em>Allow for Site-Specific CSS:</em> Privly content should identify itself, but should also fit its context. User submitted or host-page CSS should provide generalized styling of text content.<span class="developmentstatus developmentstatusvapor">Not Under Development</span></li>
        	    <li><em>Provide Domain Specific Language (DSL):</em> Markdown is an excellent starting point for generating HTML for page injection, but it is not intended for systems like Privly. A DSL could solve many formatting problems. <span class="developmentstatus developmentstatusvapor">Not Under Development</span></li>
            </ul>
        </div>
    
        <h2><a id="accordion_anonymity" href="#accordion_anonymity">Browsing Anonymity</a></h2>
        <div>
        	<ul class="posts">
        	    <li><em>No One Knows if You Read Something:</em> We will not give up reading anonymity to gain posting anonymity. <span class="developmentstatus developmentstatusreleased">Completed</span></li>
            </ul>
        </div>
        
        <h2><a id="accordion_protocol" href="#accordion_protocol">Projected APIs</a></h2>
        <div>
        	<ul class="posts">
        	    <%= render "protocol" %>
            </ul>
        </div>
    </div>
    
    <br />

    <p style="text-align: center;">
        <%= link_to "Show All", "#", {:onclick => "$('#roadmap_accordion').accordion('destroy');$('#show_all_link').toggle();", :id => "show_all_link"} %>
    </p>
</div>

