<%= form_for(@invitation) do |f| %>
  <% if @invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
      <% @invitation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <br />
  <% end %>

  <div class="field">
      <p>
          <%= f.label :email %><br />
          <%= f.email_field :email %>
          <%= f.check_box :news %>
          <%= f.label "Also send major site news" %>
      </p>
  </div>
  <div class="actions">
    <p><%= f.submit "submit" %></p>
  </div>
<% end %>
