<% content_for(:title) do %>
    Pending Invitations
<% end %>

<h2 class="subhead"><span>Pending Invitations</span></h2>
<% @invitations.each do |invitation| %>
    <div class="post">
        <div class="posthead">
            <p class="postmeta"><%= link_to "View", invitation_path(invitation) %> &middot; <%= link_to 'Destroy', invitation, :confirm => 'Are you sure?', :method => :delete %> &middot; Created <span class="date"><%= time_ago_in_words(invitation.created_at) %></span> ago</p>
        </div>
        <p><%= invitation.email %> &middot; News? <%= invitation.news %></p>
    </div>
<% end %>

<div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @invitations %>
    </div>
    <%= will_paginate @invitations, :container => false %>
</div>
