<% content_for(:title) do %>
    Sign In
<% end %>

<div class="row-fluid">
  <div class="span7">
    <h2>Sign in</h2>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div><%= f.label :email %>
      <%= f.email_field :email %></div>

      <div><%= f.label :password %>
      <%= f.password_field :password %></div>

      <% if devise_mapping.rememberable? -%>
        <div><%= f.label :remember_me %><%= f.check_box :remember_me %> </div>
      <% end -%>

      <br />

      <div><%= f.submit "Sign in" %></div>
    <% end %>
  </div>
  <div class="span5">
    <%= render :partial => "devise/shared/links" %>
  </div>
</div>