<% content_for(:title) do %>
    Pending Invitations
<% end %>

<h2 class="subhead"><span>Pending Invitations</span></h2>
<% @requested_invites.each do |invitation| %>
    <div class="post">
        <div class="posthead">
            <p class="postmeta">Created <span class="date"><%= time_ago_in_words(invitation.created_at) %></span> ago</p>
        </div>
        <p>
            <%= invitation.email %>
            <%= button_to "Send Invitation", { :action => "send_invitation", :user => {:id => invitation.id} },
                  :confirm => "Send Invitation: Are you sure?", :method => :post %>
            <%= button_to "Update with Current Message", { :action => "send_update", :user => {:id => invitation.id} },
                  :confirm => "Update User: Are you sure?", :method => :post %> (Last Updated Via Email: <%= invitation.last_emailed %>)
        </p>
    </div>
<% end %>

<p>
  <%= page_entries_info(@requested_invites).html_safe %>
  <%= paginate @requested_invites %>
</p>

<br/>
<br/>

<h2>Request an Invitation</h2>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>
  
  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><%= f.submit "Sign up for an invitation" %></p>
<% end %>