<%= form_for(@post, :url => { :action => "create_anonymous" }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if user_signed_in? %>
    <p>
      Your user account does not support posting. All content you submit here will be accessible by anyone holding the link.
    </p>
  <% end %>
  
  <h3>
    This content will be destroyed in the next 24 hours.
  </h3>
  
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :cols => 75, :rows => 18 %><br /><br />
  </div>
  
  <br/>
  
  <div class="actions">
    <h2>Submit</h2>
    <p><%= f.submit %> You can use the <%= link_to "Markdown", "#", {:onclick => "$('#sidebar_markdown').click()"} %> language for your posts.</p>
  </div>
<% end %>
