<% content_for(:title) do %>
    Posts
<% end %>

<h2 class="subhead"><span>Posts</span></h2>
<% @posts.each do |post| %>
    <div class="post">
        <div class="posthead">
            <p class="postmeta"><%= link_to "View", post_path(post) %> &middot; <%= link_to "Edit", edit_post_path(post) %> &middot; <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %> &middot; Posted <span class="date"><%= time_ago_in_words(post.created_at) %></span> ago 
            </p>
        </div>
        <%= 
        if post.content
          post.content.safe_markdown
        else
          ""
        end
         %>
         <% if post.structured_content %>
           <br /><p>(This post has application content)</p>
         <% end %>
    </div>
<% end %>

<p>
  <%= page_entries_info(@posts).html_safe %>
  <%= paginate @posts %>
</p>