<% content_for(:title) do %>
    New Plain Post
<% end %>
<%# 
  # This application is in the process of being converted into
  # a backend-indifferent application. Basically, anything
  # requiring templating will be removed.
  # %>

<div id="page">

<h2 class="subhead"><span>New Plain Post</span></h2>

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.text_area :content, :cols => 80, :rows => 5, :placeholder=>"Content", 
                    :style => "width:642px;height:100%;" %>
    <br /><br />
    <%= hidden_field_tag :random_token, @post.random_token %>
  </div>
  
  <div class="actions">
    <p><%= f.submit "Create Plain Post", {:style=>"width:642px;height:30px;"} %></p>
  </div>
  <br />
  <p>
    Privly is under active development, <strong>do not</strong> host private information here until we reach a Beta release.
  </p>
  
</div><!-- page -->

<div id="sidebar">
  <div id="sidebar_accordion">
    <h2 id="post_options_sidebar"><a>Post Options</a></h2>
    <div>
      <ul class="posts">
        
        <li>
          <%= f.check_box :public, {:onclick => "$('#csv_form').slideDown('slow')"} %>
          <%= f.label :public %>
        </li>
        
        <li>
          <div id="csv_form">
            <br />
            <h3>
              Sharing Rules:
              <br />
              <span id="type_mesasge"></span>
            </h3>
            <%= text_field_tag 'post[share][share_csv]', "", {
                                          :autocomplete => "off",
                                          :onsubmit => "identityIdAndMessage($('#post_share_share_csv').val(), $('#type_mesasge'), $('#identity_provider_name'))",
                                          :onchange => "identityIdAndMessage($('#post_share_share_csv').val(), $('#type_mesasge'), $('#identity_provider_name'))",
                                          :onkeyup => "identityIdAndMessage($('#post_share_share_csv').val(), $('#type_mesasge'), $('#identity_provider_name'))",
                                          :style => "width: 100%;",
                                          :placeholder => "Type an Email, domain, or IP"
                                          } %>
            <%= hidden_field_tag 'post[share][identity_provider_name]', 'Password', {:id => "identity_provider_name"} %>
            <br />
            <div id="fourbox">
              <div class="box1">
                <%= check_box_tag "post[share][can_show]", "1", {:checked => true} %>
                <br />
                View
              </div>
              <div class="box2">
                <%= check_box_tag "post[share][can_destroy]" %>
                <br />
                Destroy
              </div>
              <div class="box3">
                <%= check_box_tag "post[share][can_update]" %>
                <br />
                Update
              </div>
              <div class="box4">
                <%= check_box_tag "post[share][can_share]" %>
                <br />
                Share
              </div>
            </div><!-- check boxes -->
          </div><!-- CSV Form -->
        </li>
        
        <li>
          Destroy After 
          <br />
          <%= date_select "post","burn_after_date", 
              {:default => @post.burn_after_date, 
              :start_year => Time.now.year, :end_year => (Time.now + Privly::Application.config.user_can_post_lifetime_max).year,  
              :prompt => {:day => 'Choose day', :month => 'Choose month', :year => 'Choose year'}} %>
        </li>
        
      </ul>
    </div>
    
    <%# Create new content menus %>
    <%= render "shared/sidebar/posts" %>
    
    <%# Markdown format cheat sheet %>
    <%= render "shared/sidebar/markdown" %>
    
    <%# Site Navigation, only use if not using the main layout %>
    <%= render "shared/sidebar/navigation" %>
      
  </div><!-- End of Accordion -->
</div>
<% end %><%# form_for %>
<div class="clear"></div>