<% content_for(:title) do %>
    Post
<% end %>

<div>
    <br/>
    <% if @post.structured_content and not @post.content %>
      <h1>Application Content</h1>
      <p>
        You need the original link in order to view this content. Privly does not have access.
      </p>
    <% else %>
      <h1>Re-Share Link:</h1>
      <p>
          <div id="javascriptEventLink" style="display:none;"><%= @injectable_url %></div>
          <div style="font-size:120%;font-weight:bold;" class="forcewrap">
              <%= @injectable_url %><span id="newFormattedLink"></span>
          </div>
      </p>
    <% end %>
</div>

<% if @post.content %>
  <h2 class="subhead">
      <span>
          Post Start
          <% if can? :update, @post %>
              &middot;
              <%= link_to 'Edit', edit_post_path(@post, {:random_token => @post.random_token, 
                                :content_password => params[:content_password]}), :style => 'color:#b3a893;' %>
          <% end %>
          <% if can? :destroy, @post %>
              &middot;
              <%= link_to 'Destroy', post_path(@post, {:random_token => @post.random_token,
                                :content_password => params[:content_password]}), :confirm => 'Are you sure?', :method => :delete, :style => 'color:#b3a893;' %>
          <% end %>
      </span>
  </h2>
  <div class="post" id="post_markdown">
    <% if user_signed_in? %>
      <%= @post.content.safe_markdown %>
    <% else %>    
      <% content_for(:extrajs) do %>
        <script type="text/javascript">
          // Public posts are easily crawlable by bots. Most bots don't
          // execute javascript, so we can protect public posts by 
          // fetching the rendered markdown after page load
          var url = window.location.href;
          var jsonURL = url.replace("format=html", "format=json");
          jsonURL = jsonURL.replace(".html", ".json");
          $.getJSON(jsonURL, function(data) {
            $("#post_markdown").html(data.rendered_markdown);
          });
        </script>
        <noscript>You must login to view this content without Javascript</noscript>
      <% end %>
    <% end %>
  </div>
  <h2 class="subhead">
      <span style="color:#b3a893;">Post End
          <% if can? :update, @post %>
              &middot;
              <%= link_to 'Edit', edit_post_path(@post, {:random_token => @post.random_token, 
                                :content_password => params[:content_password]}), :style => 'color:#b3a893;' %>
          <% end %>
          <% if can? :destroy, @post %>
              &middot;
              <%= link_to 'Destroy', post_path(@post, {:random_token => @post.random_token, 
                                :content_password => params[:content_password]}), :confirm => 'Are you sure?', :method => :delete, :style => 'color:#b3a893;' %>
          <% end %>
      </span>
  </h2>
<% elsif @post.structured_content %>
  <h2 class="subhead">
      <span style="color:#b3a893;">Post Actions
          <% if can? :update, @post %>
              &middot;
              <%= link_to 'Edit', edit_post_path(@post, {:random_token => @post.random_token, 
                                :content_password => params[:content_password]}), :style => 'color:#b3a893;' %>
          <% end %>
          <% if can? :destroy, @post %>
              &middot;
              <%= link_to 'Destroy', post_path(@post, {:random_token => @post.random_token, 
                                :content_password => params[:content_password]}), :confirm => 'Are you sure?', :method => :delete, :style => 'color:#b3a893;' %>
          <% end %>
      </span>
  </h2>
  <br />
  <p>Privly does not have access to any of the content associated with this post. You need the original link to view the content. People with permissions to share, edit, or destroy the content have options on this page.</p>
  <br />
  <br />
<% else %>
  <h2 class="subhead">
      <span style="color:#b3a893;">Post Actions
          <% if can? :update, @post %>
              &middot;
              <%= link_to 'Edit', edit_post_path(@post, {:random_token => @post.random_token, 
                                :content_password => params[:content_password]}), :style => 'color:#b3a893;' %>
          <% end %>
          <% if can? :destroy, @post %>
              &middot;
              <%= link_to 'Destroy', post_path(@post, {:random_token => @post.random_token, 
                                :content_password => params[:content_password]}), :confirm => 'Are you sure?', :method => :delete, :style => 'color:#b3a893;' %>
          <% end %>
      </span>
  </h2>
  <p>This post is blank</p>
<% end %>

<% if can? :share, @post %>

<h2>Sharing</h2>
<% # See form logic in share.js %>
<%= form_for(@share) do |f| %>
  <% if @share.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@share.errors.count, "error") %> prohibited this share from being saved:</h2>
      <ul>
      <% @share.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <br />
  
  <h3>
    New Sharing Rule: <br /><span id="type_mesasge">Type an Email, domain, IP Address, or <%= link_to 'Password', 'javascript:void(0)', :id => 'content_password_info' %></span>
  </h3>
  <div id="info_about_content_password">
    <p>Content passwords are randomly generated and are used by Privly applications to permission content.</p>
  </div>
  <div class="field">
    <p>
        <%= f.label :identity %><br />
        <%= text_field_tag 'share[share_csv]', "", {:autocomplete => "off",
                                                     :style => "display:none;"}  %>
        <%= f.text_field :identity,  {:autocomplete => "off",
                                      :onsubmit => "identityIdAndMessage($('#share_identity').val(), $('#type_mesasge'), $('#identity_provider_name'))",
                                      :onchange => "identityIdAndMessage($('#share_identity').val(), $('#type_mesasge'), $('#identity_provider_name'))",
                                      :onkeyup => "identityIdAndMessage($('#share_identity').val(), $('#type_mesasge'), $('#identity_provider_name'))"} %>
        <%= hidden_field_tag 'share[identity_provider_name]', 'Password', {:id => "identity_provider_name"} %>
        <%= f.submit  "Create Share", {:id => "create_share_button",
                                       :onclick => "sharesFormSubmit($('#share_identity'), $('#share_share_csv'), $('#identity_provider_name'));"} %>
        <br />
        <%= f.check_box :can_show, {:checked => true} %>
        <%= f.label :can_show, "Can View" %>
        <%= f.check_box :can_destroy %>
        <%= f.label :can_destroy %>
        <%= f.check_box :can_update %>
        <%= f.label :can_update %>
        <%= f.check_box :can_share %>
        <%= f.label :can_share %>
        <%= f.hidden_field :post_id, :value => @post.id %>
        <%= hidden_field_tag :random_token, @post.random_token %>
    </p>
  </div>
<% end %>

<% @post.shares.each do |share| %>
    <div class="post">
        <div class="posthead">
            <h3><%= "#{"Random " if share.identity_provider.name == 'Password'} #{share.identity_provider.name} : #{share.identity}" %></h3>
            
            <%= form_for(share) do |f| %>
                <div class="field">
                    <p>
                        <%= f.check_box :can_show %>
                        <%= f.label :can_show, "Can View" %>
                        <%= f.check_box :can_destroy %>
                        <%= f.label :can_destroy %>
                        <%= f.check_box :can_update %>
                        <%= f.label :can_update %>
                        <%= f.check_box :can_share %>
                        <%= f.label :can_share %>
                        <%= hidden_field_tag :random_token, @post.random_token %>
                        <%= hidden_field_tag :content_password, params[:content_password] %>
                        <%= f.submit %>
                        <%= link_to 'Destroy Share', share_path(share, 
                            {:random_token => @post.random_token, 
                             :content_password => params[:content_password]}), 
                             :confirm => 'Are you sure?', :method => :delete %>
                    </p>
                </div>
            <% end %>
        </div>
    </div>
<% end %>
<% end %>

