<% content_for(:title) do %>
    Post
<% end %>

<div>
    <br/>
    <h1>Re-Share Link:</h1>
    <p>
        <div style="font-size:120%;font-weight:bold;">
            <%= @injectable_url %><span id="newFormattedLink" class="forcewrap"></span>
        </div>
    </p>
</div>

<% if @post.content %>
  <h2 class="subhead">
      <span>
          Post Start
          <% if can? :update, @post %>
              &middot;
              <%= link_to 'Edit', edit_post_path(@post), :style => 'color:#b3a893;' %>
          <% end %>
          <% if can? :destroy, @post %>
              &middot;
              <%= link_to 'Destroy', @post, :confirm => 'Are you sure?', :method => :delete, :style => 'color:#b3a893;' %>
          <% end %>
      </span>
  </h2>
  <div class="post">
    <%= @post.content.safe_markdown %>
  </div>
  <h2 class="subhead">
      <span style="color:#b3a893;">Post End
          <% if can? :update, @post %>
              &middot;
              <%= link_to 'Edit', edit_post_path(@post), :style => 'color:#b3a893;' %>
          <% end %>
          <% if can? :destroy, @post %>
              &middot;
              <%= link_to 'Destroy', @post, :confirm => 'Are you sure?', :method => :delete, :style => 'color:#b3a893;' %>
          <% end %>
      </span>
  </h2>
<% elsif @post.structured_content %>
  <h2 class="subhead">
      <span style="color:#b3a893;">Post Actions
          <% if can? :update, @post %>
              &middot;
              <%= link_to 'Edit', edit_post_path(@post), :style => 'color:#b3a893;' %>
          <% end %>
          <% if can? :destroy, @post %>
              &middot;
              <%= link_to 'Destroy', @post, :confirm => 'Are you sure?', :method => :delete, :style => 'color:#b3a893;' %>
          <% end %>
      </span>
  </h2>
  <br />
  <p>This post cannot be viewed here, you need the original link to view this content</p>
  <br />
  <br />
<% else %>
  <h2 class="subhead">
      <span style="color:#b3a893;">Post Actions
          <% if can? :update, @post %>
              &middot;
              <%= link_to 'Edit', edit_post_path(@post), :style => 'color:#b3a893;' %>
          <% end %>
          <% if can? :destroy, @post %>
              &middot;
              <%= link_to 'Destroy', @post, :confirm => 'Are you sure?', :method => :delete, :style => 'color:#b3a893;' %>
          <% end %>
      </span>
  </h2>
  <p>This post is blank</p>
<% end %>

<% if can? :share, @post %>

<h2>Sharing</h2>
<%= form_for(@share) do |f| %>
  <% if @share.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@share.errors.count, "error") %> prohibited this share from being saved:</h2>
      <ul>
      <% @share.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <br />
  
  <h3>
    New Sharing Rule: <br /><span id="type_mesasge">Type an Email, domain, IP Address, or password</span>
  </h3>
  <div class="field">
    <p>
        <%= f.label :identity %><br />
        <%= f.text_field :identity,  {:autocomplete => "off",
                                      :onsubmit => "identityIdAndMessage($('#share_identity').val(), $('#type_mesasge'), $('#identity_provider_name'))",
                                      :onchange => "identityIdAndMessage($('#share_identity').val(), $('#type_mesasge'), $('#identity_provider_name'))",
                                      :onkeyup => "identityIdAndMessage($('#share_identity').val(), $('#type_mesasge'), $('#identity_provider_name'))"} %>
        <%= hidden_field_tag 'share[identity_provider_name]', 'Password', {:id => "identity_provider_name"} %>
        <%= f.submit %>
        <br />
        <%= f.check_box :can_show, {:checked => true} %>
        <%= f.label :can_show, "Can View" %>
        <%= f.check_box :can_destroy %>
        <%= f.label :can_destroy %>
        <%= f.check_box :can_update %>
        <%= f.label :can_update %>
        <%= f.check_box :can_share %>
        <%= f.label :can_share %>
        <%= f.hidden_field :post_id, :value => @post.id %>
    </p>
  </div>
<% end %>

<% @post.shares.each do |share| %>
    <div class="post">
        <div class="posthead">
            <h3><%= "#{share.identity_provider.name}: #{share.identity}" %></h3>
            
            <%= form_for(share) do |f| %>
                <div class="field">
                    <p>
                        <%= f.check_box :can_show %>
                        <%= f.label :can_show, "Can View" %>
                        <%= f.check_box :can_destroy %>
                        <%= f.label :can_destroy %>
                        <%= f.check_box :can_update %>
                        <%= f.label :can_update %>
                        <%= f.check_box :can_share %>
                        <%= f.label :can_share %>
                        <%= f.submit %>
                        <%= link_to 'Destroy Share', share, :confirm => 'Are you sure?', :method => :delete %>
                    </p>
                </div>
            <% end %>
        </div>
    </div>
<% end %>
<% end %>

