<% content_for(:title) do %>
    Post
<% end %>

<h2 class="subhead"><span>Post</span></h2>
<div class="post">
    <%= @post.content.safe_markdown %>
</div>

<% if can? :share, @post %>
<h2>Sharing</h2>
<% if @post.public %>
    <p>This is a <strong>public</strong> post. Everyone has permission to read it.</p>
<% else %>
    <p>This post is not public. You have you share this post below for it to be viewable by others.</p>
<% end %>

<%= form_for(@email_share) do |f| %>
  <% if @email_share.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email_share.errors.count, "error") %> prohibited this email share from being saved:</h2>
      <ul>
      <% @email_share.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>
        <%= f.label :email %><br />
        <%= f.email_field :email %>
        <%= f.submit %>
        <br />
        <%= f.check_box :can_show %>
        <%= f.label :can_show, "Can View" %>
        <%= f.check_box :can_destroy %>
        <%= f.label :can_destroy %>
        <%= f.check_box :can_update %>
        <%= f.label :can_update %>
        <%= f.check_box :can_share %>
        <%= f.label :can_share %>
        <%= f.hidden_field :post_id, :value => @post.id %>
    </p>
  </div>

<% end %>

<% @post.email_shares.each do |share| %>
    <div class="post">
        <div class="posthead">
            <h3><%= share.email %></h3>
            
            <%= form_for(share) do |f| %>
                <div class="field">
                    <p>
                        <%= f.check_box :can_show %>
                        <%= f.label :can_show, "Can View" %>
                        <%= f.check_box :can_destroy %>
                        <%= f.label :can_destroy %>
                        <%= f.check_box :can_update %>
                        <%= f.label :can_update %>
                        <%= f.check_box :can_share %>
                        <%= f.label :can_share %>
                        <%= f.submit %>
                        <%= link_to 'Destroy Share', share, :confirm => 'Are you sure?', :method => :delete %>
                    </p>
                </div>
            <% end %>
        </div>
    </div>
<% end %>
<% end %>




