<% content_for(:title) do %>
    Post
<% end %>

<div>
    <br/>
    <h1>Re-Share Link:</h1>
    <p>
        <div style="font-size:120%;font-weight:bold;">
            <%= post_url(@post) %><span id="newFormattedLink"></span>
        </div>
    </p>
</div>

<h2 class="subhead">
    <span>
        Post Start
        <% if can? :update, @post %>
            &middot;
            <%= link_to 'Edit', edit_post_path(@post), :style => 'color:#b3a893;' %>
        <% end %>
        <% if can? :destroy, @post %>
            &middot;
            <%= link_to 'Destroy', @post, :confirm => 'Are you sure?', :method => :delete, :style => 'color:#b3a893;' %>
        <% end %>
    </span>
</h2>
<div class="post">
    <%= @post.content.safe_markdown %>
</div>

<h2 class="subhead">
    <span style="color:#b3a893;">Post End
        <% if can? :update, @post %>
            &middot;
            <%= link_to 'Edit', edit_post_path(@post), :style => 'color:#b3a893;' %>
        <% end %>
        <% if can? :destroy, @post %>
            &middot;
            <%= link_to 'Destroy', @post, :confirm => 'Are you sure?', :method => :delete, :style => 'color:#b3a893;' %>
        <% end %>
    </span>
</h2>

<% if can? :share, @post %>

<h2>Sharing</h2>
<% if @post.public %>
    <p>This is a <strong>public</strong> post. Everyone has permission to read it.
    <% if can? :update, @post %>
        <%= form_for(@post) do |f| %>
          <div class="actions">
              <%= f.hidden_field(:public, {:value=>0}) %>
            <p><%= f.submit "Make Private" %></p>
          </div>
        <% end %>
    <% else %>
        You can make it private if you grant yourself the update permission on your email share.
    <% end %>
    </p>
<% else %>
    <p>This post is not public. You have you share this post below for it to be viewable by others.
        <% if can? :update, @post %>
            <%= form_for(@post) do |f| %>
              <div class="actions">
                  <%= f.hidden_field(:public, {:value=>1}) %>
                <p><%= f.submit "Make Public" %></p>
              </div>
            <% end %>
        <% else %>
            You can make it public if you grant yourself the update permission on your email share.
        <% end %>
    </p>
<% end %>

<%= form_for(@email_share) do |f| %>
  <% if @email_share.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email_share.errors.count, "error") %> prohibited this email share from being saved:</h2>
      <ul>
      <% @email_share.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>
        <%= f.label :email %><br />
        <%= f.email_field :email %>
        <%= f.submit %>
        <br />
        <%= f.check_box :can_show %>
        <%= f.label :can_show, "Can View" %>
        <%= f.check_box :can_destroy %>
        <%= f.label :can_destroy %>
        <%= f.check_box :can_update %>
        <%= f.label :can_update %>
        <%= f.check_box :can_share %>
        <%= f.label :can_share %>
        <%= f.hidden_field :post_id, :value => @post.id %>
    </p>
  </div>

<% end %>

<% @post.email_shares.each do |share| %>
    <div class="post">
        <div class="posthead">
            <h3><%= share.email %></h3>
            
            <%= form_for(share) do |f| %>
                <div class="field">
                    <p>
                        <%= f.check_box :can_show %>
                        <%= f.label :can_show, "Can View" %>
                        <%= f.check_box :can_destroy %>
                        <%= f.label :can_destroy %>
                        <%= f.check_box :can_update %>
                        <%= f.label :can_update %>
                        <%= f.check_box :can_share %>
                        <%= f.label :can_share %>
                        <%= f.submit %>
                        <%= link_to 'Destroy Share', share, :confirm => 'Are you sure?', :method => :delete %>
                    </p>
                </div>
            <% end %>
        </div>
    </div>
<% end %>
<% end %>




