<% # This email is sent when the user is invited to the system with 
   # a valid invitation. The user is able to immediatly activate an account.
  %>
<p>Hello <%= @resource.email %>!</p>

<p>You now have a preview account at <%= root_url %>. Click to <%= link_to 'verify', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %> your account.</p>

<p>We recommend you watch this <a href="https://vimeo.com/83073455">overview video</a> and if you are technically minded, this <a href="https://vimeo.com/83258935">technical video</a>.</p>

<p><strong>Warning:</strong> Privly is currently "in alpha". You should not trust your life, liberty, or privacy to alpha stage software. Strong security assurances come from time and exposure to the real world.

We are opening this server for accounts so users can influence the development of the system. People who are not active members of the community may lose the ability to post new content if demands on our servers outpace our resources. If you find a problem, please <%= link_to "report it", pages_bug_url %> so we can fix it for everyone.</p>

<p>
  <strong>How to Use:</strong>
</p>
<ol>
  <li>Make sure you <%= link_to 'verify your account', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></li>
  <li>Download the extension for your browser. Either <a href="https://chrome.google.com/webstore/detail/privly/pkokikcdapfpkkkjpdaamjanniaempol">Chrome</a> or <a href="https://addons.mozilla.org/en-US/firefox/addon/privly/">Firefox</a>.</li>
  <li>Restart your browser</li>
  <li>Right-click on any text area and select "New Message"</li>
  <li>Fill in the content you want to share in the Privly Message form and click save</li>
  <li>Submit the link on the original page</li>
</ol>

<p>
    Thanks for the Support!
    <br />
    -<%= Privly::Application.config.name %>
</p>

<p>
  <%= link_to 'Follow our Twitter', "https://twitter.com/#!/Privly" %> for updates and join our <a href="https://groups.google.com/group/privly">development mailing list</a> for discussion.
</p>
