<p>Welcome <%= @resource.email %>!</p>

<p>We are in a stage of development we are calling "Proof of Concept." The extension works on most sites, but there are <%= link_to "bugs", pages_bug_url %>, and we need to build in more security before you should post anything private. When you find a problem, make sure you <%= link_to "report a bug", pages_bug_url %> so we can fix the problem for you. There are bound to be some rough edges when you are interfacing with the entire internet, but in most cases, Privly will work wherever you bring it.</p>

<p>For the time being, we are going to destroy user content periodically (we won't take data we can't protect properly).</p>

<p>The potential server demands for Privly are substantial, so until our financial picture improves, we are going to prioritize Developer and Tester (People who regularly submit bug reports) accounts above all others.</p>

<p>Here is a somewhat outdated video on how it works <%= link_to 'Learn how to Privly.', "http://vimeo.com/38477052" %>.</p>

<p>You can confirm your account through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>
    Thanks!
    <br />
    -Privly
</p>

<p><%= link_to 'Follow our Twitter', "https://twitter.com/#!/Privly" %> for updates.</p>
