<% # This email is sent when the user is invited to the system with 
   # a valid invitation. The user is able to immediatly activate an account.
  %>


<p>Hello <%= @resource.email %>!</p>

<p>Someone has invited you to <%= root_url %>, you can accept it through the link below.</p>

<p>Privly is currently in Alpha Testing. The extension works on most sites, but there are bugs. When you find a problem, make sure you <%= link_to "report a bug", pages_bug_url %> so we can fix the problem for you. There are bound to be some rough edges when you are interfacing with the entire internet, but in most cases, Privly will work wherever you bring it.</p>

<p>Software in Alpha testing is not secure. If you want to use Privly with private data, you should wait until the Beta release.</p>

<p><%= link_to 'Accept invitation', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token) %></p>

<p><%= link_to 'Follow our Twitter', "https://twitter.com/#!/Privly" %> for updates.</p>

<p>
    Thanks for the Support, and let us know how it goes!
    <br />
    -<%= Privly::Application.config.name %>
</p>

<p>
Are you a developer, tester, graphic designer, security expert, or all-round awesome individual? <%= link_to "Join Us!", pages_join_url %>
</p>
