<!DOCTYPE html>
<html>
<head>

  <title><%= Rails.application.class.parent %> &middot; <%= yield :title %></title>
  
  <%= stylesheet_link_tag    :application %>
  <%= javascript_include_tag :application %>
  
  <%= yield :extrahead %>
  <%= yield :extracss %>
  <%= yield :extrajs %>

  <%= csrf_meta_tags %>
  
</head>
<body privly-exclude="true">

<!--TOP BANNER AND NAVIGATION -->
<%= render "shared/nav" %>

<div id="pagewrap">
    <div id="wrap" style="min-height:400px;">
        <% if notice %>
        <div class="flash notice">
            <p><%= notice %></p>
        </div>
        <% end %>
        <% if alert %>
        <div class="flash alert">
            <p><%= alert %></p>
        </div>
        <% end %>
        <%= yield :top_column %>
        <div id="maincontent">
                
            <!-- OPTIONAL MAIN CONTENT AREA, used mostly on welcome page-->
            <%= yield :top_main_content_column %>
                
            <div class="clear bordered"></div>
                
            <!--MAIN CONTENT-->
            <div id="page">
                <%= yield %>
            </div>
            
            <%= render "shared/sidebar" %>
            
            <div class="clear"></div>
        </div>
    </div>
</div>


<div id="bottom">
    <!--Bottom Row -->
    <div id="btmcontent">
      <h2>System Status: Pre-Alpha <%= link_to "(Terms/Privacy/License)", pages_privacy_path %>. All new content (encrypted or otherwise) is destroyed every 24 hours.</h2>
      
      <% if not has_extension? %>
      <div id="downloadmessage" class="rotate_sidebar" style="display:none;">
          <h2>View Privly Content Automatically</h2>
          <p>Privly works by injecting status updates, emails, tweets... anything really... directly into pages you view everyday. We never want you to come back to this website again. <%= link_to "Download", pages_download_path %> the extension and you won't have to.</p>
      </div>
      <div id="rightboxes" style="display:none;">
          <div class="box1">
              <p class="rotate">
                  <%= link_to("https://addons.mozilla.org/en-US/firefox/addon/privly/", :style => "color:#ffffff;") do %>
                    <span>Download the Extension</span>
                  <% end %>
          </div>
      </div>
      
      <% end %>
      
    </div>
    
    <!--FOOTER 
    <div id="footer">
        <p>Priv.ly</p>
        <span class="credit"><a href="http://cssheaven.org" title="free and open source css template">CSS Template</a> by CSS Heaven Released under GPL License</span>
    </div>-->
</div>
</body>
</html>
